[2020-06-24 14:19] jpmedley commented on #865
Here's a proposed rewrite:

[2020-06-24 14:21] jpmedley commented on #864
@cwilso Is this a genuine omission or a change in procedure?

[2020-06-24 15:05] npm1 commented on #836
Ohh I figured it out, it's caused by an extension! Sorry for the noise, I filed https://github.com/GoogleChrome/web-vitals-extension/issues/72.

[2020-06-24 15:05] #836 closed

[2020-06-24 17:16] jstenback commented on #864
This feels like an omission to me. Thanks for reporting this @reillyeon!

[2020-06-24 18:33] jpmedley opened #868 "Version Number Boxes Need to Appear with "Status in Chromium" Field"
**Describe the bug**
In the new design, the version number box are in separate subforms. This is fine in most instances. Some status require that version numbers must be entered.

**To Reproduce**
Edit a feature and open "Prepare to ship".
![image](https://user-images.githubusercontent.com/8204171/85612460-c1c58980-b60d-11ea-9999-7d7999816ad4.png)

**Expected behavior**
The version number boxes ne

[2020-06-24 19:16] jpmedley commented on #865
@npm1 I'm interested in what you think of the proposed rewrite.

[2020-06-24 21:03] npm1 commented on #865
Seems good to me! I think it would also require changing the location of the "Documentation" section.

[2020-06-25 14:28] jpmedley commented on #865
Where do you think it should go?

[2020-06-25 14:53] jpmedley opened #871 "Consider moving the "Delete" link."
It seems like it might be safer to move the "Delete" link away from the "Edit" link even if it does ask, "Are you sure?".

![image](https://user-images.githubusercontent.com/8204171/85743144-a8c5e280-b6b8-11ea-8895-fc7795f51c75.png)

[2020-06-25 14:57] jpmedley commented on #868
Here's an illustration from an update that come through recently. Notice that the intent stage has been advanced to "Prepare to ship". DevRel needs to know whether this is in 85 or later, but the form doesn't prompt him to fill that in.

![image](https://user-images.githubusercontent.com/8204171/85743916-4e795180-b6b9-11ea-911c-55e934eb8bf9.png)

[2020-06-25 17:09] npm1 commented on #865
Maybe below specification?

[2020-06-25 18:16] hwikyounglee opened #872 "Visually align submit button to the form controls"
**Describe the bug**
Just a button alignment suggestion

**To Reproduce**
https://chromestatus.com/guide/new  with New UI

**Expected behavior**
A clear and concise description of what you expected to happen.
![image](https://user-images.githubusercontent.com/7561395/85776039-2dbef500-b6d5-11ea-9e30-970b1e988001.png)

**Additional context**
It just a visual preference, so if you disagree, no need

[2020-06-25 18:18] hwikyounglee commented on #872
oops -- sorry for not using the bug template for "Process and Guide UX Feedback"!

[2020-06-25 18:21] hwikyounglee opened #873 "Add focus indicators on form controls"
**Guide UX Feedback**

https://chromestatus.com/guide/new
Use 'Tab' key to navigate the controls, and observe the focus indicator

Currently only the <select> controls show the focus indicator.
Recommending we add focus indicators for other controls to help form-filling using keyboard.

Thanks for looking into this!

[2020-06-25 18:21] jpmedley commented on #868
I got this back from the feature owner.
![image](https://user-images.githubusercontent.com/8204171/85776856-f1d85f80-b6d5-11ea-8559-790e657806ae.png)

[2020-06-25 18:28] hwikyounglee opened #874 "Make 'Edit' look clickable"
**Guide UX Feedback**
Either we use link for 'Edit' or match color to #4580c0

![image](https://user-images.githubusercontent.com/7561395/85777942-ef2a3a00-b6d6-11ea-84ee-58e6698e3d21.png)

[2020-07-09 20:57] jpmedley opened #878 "Mini Project: Implement user assistance in Chrome Status"
Here, in no particular order is the list of tasks decided upon a June 26 meeting.

- [ ] Text fields will offer warnings based on content heuristics.
- [ ] Help text will, when necessary, contain 'more information' links.
- [ ] Those links will go to markdown pages rendered with GitHub pages. Said pages allow help updates without PR reviews.
- [ ] Example text fields will also be GitHub pages writ

[2020-07-09 20:58] jpmedley commented on #878
@jrobbins I made the email list into something we can actually check off.

[2020-07-09 21:33] npm1 commented on #615
+1 (motivation really needs to be included)

[2020-07-09 21:44] npm1 opened #879 "Add grammatical error corrections"
It would be nice if the fields in chromestatus would show correction suggestions that are close to what one would get in Google Docs (which is where I used to write the fields, and is meant to be made deprecated) or Gmail (which is where the email to be sent to blink-dev is going to be written). Otherwise, any corrections suggested afterwards will need to be applied twice: in the place where such

[2020-07-09 22:11] jrobbins opened #880 "Intent email previews do not include fields that are conditioned on feature stage"
**Describe the bug**
The chromestatus app had logic in the intent_to_implement.html template to include various fields based on feature.intent_stage.   That stopped working when the stages were renamed.

**To Reproduce**
Sign in and visit, e.g., https://chromestatus.com/admin/features/launch/5191745052606464?intent

**Expected behavior**
It should have some sections for experiment risks, experimen

[2020-07-10 15:33] jpmedley commented on #879
I agree with the general tenor of this. You should know that we're trying to build a system where the duplication you mention isn't needed.

[2020-07-10 16:58] jpmedley opened #882 "'Remember my choice' flag should accompany 'Try new UI'"
**Is your feature request related to a problem? Please describe.**
It would provide data to help us decided when the new UI should become the defaulty.

![image](https://user-images.githubusercontent.com/8204171/87179208-37c72300-c293-11ea-844b-7b201db51932.png)

**Describe the solution you'd like**
A checkbox next to 'Try new UI' that says 'Remember my choice'. Clicks to both should be recorded o

[2020-07-10 20:31] jrobbins commented on #880
The immediate fix is live.  But, I prefer to keep this issue open until I rewrite that template to make it more maintainable by moving logic into python and adding a python unit test.

[2020-07-12 13:46] #760 closed

[2020-07-13 17:51] jpmedley commented on #872
Closed by #883

[2020-07-13 17:51] #872 closed

[2020-07-13 17:52] jpmedley commented on #874
Addressed by #884.

[2020-07-13 17:52] #874 closed

[2020-07-13 17:52] jpmedley commented on #871
Addressed by #884.

[2020-07-13 17:52] #871 closed

[2020-07-17 17:04] terts opened #886 "DevTools > Elements > search no longer highlighting for first element found"
If you search for an element in the Inspector where only one exists, in version 83 it highlighted in yellow, but in version 84 it no longer does that.
![image](https://user-images.githubusercontent.com/2946153/87809990-48930e00-c82a-11ea-9ab4-57a58f75bc03.png)

But if you search for one that has multiple, it does still highlight but only elements after the first one.
![image](https://user-images.g

[2020-07-17 17:25] terts commented on #886
also logged the bug here https://bugs.chromium.org/p/chromium/issues/detail?id=1106822 as I really wasn't sure if it should be logged there or here.

[2020-07-17 17:33] jstenback commented on #886
https://bugs.chromium.org/ is the right place for an issue like this. This issue tracker only tracks issues with the website chromestatus.com. Thanks.

[2020-07-17 17:33] #886 closed

[2020-07-22 00:02] jrobbins commented on #873
To clarify, the checkbox and radio buttons on that form are missing the indication of focus.

After investigating, I found that the normal browser focus indication had been set to "none" throughout the site.

[2020-07-22 14:57] acdha opened #889 "Offline content banner should be dismissable"
**Describe the bug**

Any time you view a page on https://www.chromestatus.com/ a banner will display a message like “This site is cached (156KB). Ready to use offline!”. There is no way to reclaim the screen real estate used by the banner since it has no close button and doesn't response to a click.

**To Reproduce**
Steps to reproduce the behavior:

1. Open https://www.chromestatus.com/

**Expec

[2020-07-22 15:19] jpmedley commented on #873
@jrobbins I was tempted to close this. We should probably wait for deployment and verification when closing bugs.

[2020-07-22 21:07] jpmedley commented on #868
@jrobbins Is there any chance you can prioritize this soon?

[2020-07-22 21:34] jrobbins commented on #868
I'll look into it today.

[2020-07-23 19:54] jrobbins commented on #889
We're planning to phase out offline content, so the banner will no longer show up.

[2020-07-23 19:57] #818 closed

[2020-07-23 19:57] #820 closed

[2020-07-23 19:57] #822 closed

[2020-07-23 20:03] jrobbins commented on #864
I think this was due to renaming the intent stages.  It was temporarily resolved by PR #881.
And that was deployed.  A better fix is in review now in PR #887, and that is also tracked in issue #880.

[2020-07-23 20:03] #864 closed

[2020-07-23 20:06] jrobbins commented on #739
The design doc is at
https://docs.google.com/document/d/1uF79Pk-UeD1DSpDvp5DPyMnVmDJi1ZwqkOcuqW5vVT4/edit#

[2020-07-23 20:08] jrobbins opened #891 "Research modern CSS approach and style guides"
I want to phase out approaches that are dated and use current best practices.

[2020-07-23 20:10] jrobbins opened #892 "Phase out use of service worker"
While service worker is awesome and appropriate for many web applications, this application is pretty small so it loads quickly even with service worker.  We don't need it any longer for push notifications, and we don't want the added complexity of that layer of caching.

[2020-07-23 20:14] jrobbins opened #893 "Implement source code organization for CSS includes"
We currently have a lot of small CSS files that potentially conflict with each other.  So, we will define a simpler approach with just one overall site stylesheet and then lit-css for specific elements.  Since not everything is an element, we will need a few css files, but not as many as we have now.

[2020-07-23 20:17] jrobbins opened #894 "Implement theme.css including a new color palette"
We will define a set of colors to be used in the app based on the MD spec and mockups from our UI design consultant.  Rather than use SASS variables, we will use CSS variables.

[2020-07-23 20:19] jrobbins opened #895 "Implement new layout"
We need a simpler approach for headers, navigation tabs, footers, page margins, and media breakpoints.

Headers will no longer float.
Page margins will be much smaller and there will be no left-hand nav on the feature list page.

[2020-07-23 20:20] jrobbins opened #896 "Implement new layout"
We need a simpler approach for headers, navigation tabs, footers, page margins, and media breakpoints.

Headers will no longer float.
Page margins will be much smaller and there will be no left-hand nav on the feature list page.

[2020-07-23 20:21] jrobbins opened #897 "Move sign-in link to header"
Users will find it more easily in a more standard location.

[2020-07-23 20:23] jrobbins opened #898 "Redo visual indicators for browser signals"
Right now the browser signals are shown using only color and hover text.  That may not be accessible to people who have color vision differences.   So, we will try a combination of color and words

[2020-07-23 20:25] jrobbins opened #899 "Move web component CSS into lit-css"
We currently have 16 SASS files that correspond to custom elements.  Having them in separate files makes it harder to understand them and edit them when the corresponding components are edited.  Using lit-css will allow us to simplify the source code organization and eventually phase out SASS.

[2020-07-23 20:27] jrobbins opened #900 "Re-write remaining SASS code as plain CSS"
We currently have about 12 SASS files that style individual pages.  We don't make use of SASS functionality other than things that could be easily done in modern CSS.  So, we will rewrite these in plain CSS and phase out SASS.

[2020-07-23 20:31] jrobbins opened #901 "Implement remaining Guide UX checkmarks"
This may require adding fields and having users fill in some details to let our tool know about work done in other tools.   @jrobbins will coordinate with @cwilso.

[2020-07-23 20:34] jrobbins opened #902 "Align intent email content with the new feature launch process"
We still have the old intent email templates which display fields that might not have been filled in at various points in the process or might be missing details that we want in the new process.

@jrobbins will coordinate with @cwilso.

[2020-07-23 21:32] carolrivero opened #903 "KR: We have gathered and addressed feedback on the Guide UX for feature editing and made it the defa"

[2020-07-23 21:32] carolrivero opened #904 "KR: Capture the desired process flow for mentor support for feature developers in a PRD and consider"

[2020-07-23 21:32] carolrivero opened #905 "KR: We have formally announced the refreshed version of the tool including but not limited to new no"

[2020-07-23 21:33] carolrivero opened #906 "KR: New process documentation is live on chromium.org by Jul 24 2020"

[2020-07-23 21:33] carolrivero opened #907 "KR: We have captured and addressed field level semantics and validation rules in either code or docu"

[2020-07-23 21:33] carolrivero opened #908 "KR: We have updated the feature content displayed on the feature detail page"

[2020-07-23 21:35] carolrivero opened #909 "KR: We have updated the visual appearance to align with Material design"

[2020-07-23 21:35] carolrivero opened #910 "KR: We have a PRD for Origin Trial Integration (spanning approvals and configuration)"

[2020-07-23 21:43] carolrivero opened #911 "KR: We have implemented a new feature list page, with rows and columns like Monorail"

[2020-07-23 21:43] carolrivero opened #912 "KR: Build support for API Owners workflow into WebStatus (e.g., deprecation of bit.ly/blinkintents a"

[2020-07-23 21:44] carolrivero opened #913 "KR: We have implemented a new feature list page, with rows and columns like Monorail"

[2020-07-23 21:45] carolrivero opened #914 "KR: We have a PRD for CRM features including endorsements"

[2020-07-23 21:45] carolrivero opened #915 "KR: We have a PRD for the roadmap view"

[2020-07-23 21:45] carolrivero opened #916 "KR: We have final requirements for XFN user journeys"

[2020-07-23 21:46] carolrivero opened #917 "KR: We set up data backups and documented the recovery process"

[2020-07-23 21:46] carolrivero opened #918 "KR: (Operations) We have set up monitoring and a playbook (escalation path)"

[2020-07-23 21:46] carolrivero opened #919 "KR: We initiated security and privacy reviews by working through questionnaires"

[2020-07-23 21:47] #741 closed

[2020-07-23 21:48] carolrivero opened #920 "KR: We have gathered and addressed feedback on the Guide UX for feature editing and made it the defa"

[2020-07-23 21:48] carolrivero opened #921 "KR: Capture the desired process flow for mentor support for feature developers in a PRD and consider"

[2020-07-23 21:54] carolrivero opened #922 "KR: We have formally announced the refreshed version of the tool including but not limited to new no"

[2020-07-23 21:55] carolrivero opened #923 "KR: New process documentation is live on chromium.org by Jul 24 2020"

[2020-07-23 21:55] carolrivero opened #924 "KR: We have captured and addressed field level semantics and validation rules in either code or docu"

[2020-07-23 21:56] carolrivero opened #925 "KR: We have updated the feature content displayed on the feature detail page"

[2020-07-23 21:56] carolrivero opened #926 "KR: We have updated the visual appearance to align with Material design"

[2020-07-23 21:57] carolrivero opened #927 "KR: We have a PRD for Origin Trial Integration (spanning approvals and configuration)"

[2020-07-23 22:33] carolrivero opened #928 "Formally announce the refreshed version of the tool including"
KR: We have formally announced the refreshed version of the tool including but not limited to new notifications, list views, new visual (announcements at events)

[2020-07-23 22:36] carolrivero opened #929 "Publish new process documentation on chromium.org by Jul 24 2020"
Publish new process documentation on chromium.org by Jul 24 2020Publish new process documentation on chromium.org by Jul 24 2020

[2020-07-23 22:38] carolrivero opened #930 "XFN user journeys"
Finalize requirements for XFN user journeys

[2020-07-23 22:41] carolrivero opened #931 "Finalize PRD for OT"
Finalize PRD for OT

[2020-07-24 19:35] jpmedley commented on #907
Here's the capture part: https://docs.google.com/spreadsheets/d/1F4UxFhsP6YB2SAQFL6f0IHquSXF-YmsvEHkituJXoZg/edit#gid=0

[2020-07-24 19:40] jpmedley commented on #924
Here's the capture part: https://docs.google.com/spreadsheets/d/1F4UxFhsP6YB2SAQFL6f0IHquSXF-YmsvEHkituJXoZg/edit#gid=0

[2020-07-24 20:04] carolrivero opened #932 "Capture field level semantics and validation rules"
Adding an issue to associate w/ a KR/Epic: "KR: We have captured and addressed field level semantics and validation rules in either code KR: We have captured and addressed field level semantics and validation rules in either code or documentation" and for tracking purposes.

Capture part is here: https://docs.google.com/spreadsheets/d/1F4UxFhsP6YB2SAQFL6f0IHquSXF-YmsvEHkituJXoZg/edit#gid=0

@jrobb

[2020-07-24 20:14] jrobbins opened #933 "Backfill intent_stage for existing issue"
The Guide UX does not make a good impression when used to view existing features that have made progress through the launch process and yet still have intent stage None.   We should set the intent_stage field for all existing features.

For features that have shipped, I think that we can unilaterally set the intent_stage to INTENT_SHIPPED.  We might also be able to make some heuristic rules for ot

[2020-07-24 20:19] jrobbins opened #934 "Clarify relationship between checkmarks and fields"
For the most part, a user earns a progress checkmark by filling in a field.  In our user study, the first user spend some time searching through the fields looking for which one would earn the needed checkmark.  We can eliminate the searching by:

1. Add an icon near the checkmark that is linked with an anchor that takes the user directly to the needed field.
1. Add the progress checkmark to the f

[2020-07-24 20:26] jrobbins opened #935 "Add a "shipped" stage at the end of the process to give a feeling of completion"
In our user study the first user said that they would like to see a "Shipped" stage in the process after all the other stages were completed.

This might differ from other stages in that:

1. The button for it might say "Set stage" or something like that instead of saying "Start" because there is no work to start working on in this stage.
1. All the fields associated with that stage would be revie

[2020-07-24 22:08] jrobbins commented on #895
Somehow I submitted this twice.

[2020-07-24 22:08] #895 closed

[2020-07-24 22:12] jrobbins commented on #891
Looking through the pages at:
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks

I see:
"In some browsers, form elements do not inherit font styling by default" and "Across browsers form elements use different box sizing rules for different widgets".  So, we need this in reset.css:
[code]

[2020-07-24 22:31] acdha commented on #889
Works for me, thanks!

[2020-07-24 23:16] jrobbins commented on #891
This library would give us widgets that exactly follow the MD spec, but it looks complicated.
https://github.com/material-components/material-components-web

Material Design Lite seems simpler and easier to reuse:
https://getmdl.io/index.html
However, it would be even easier to just take inspiration from a few of their elements:
layout, cards, buttons, etc.  I don't like the MD text input fields,

[2020-07-24 23:29] jrobbins commented on #891
For responsive design
https://web.dev/responsive-web-design-basics/

For units:
rem for font sizes
px is OK to keep using

[2020-07-24 23:29] #891 closed

[2020-07-29 00:17] mgiuca opened #937 "Some fields visible in the Edit view are not visible in the View view"
**Describe the bug**
I recall filing this bug over a year ago but I can't find it now (did this move to GitHub since then?)

When editing an item, there are lots and lots of fields. But in the view display that everybody sees, not all of those fields are visible. I recall last time I investigated this deeply, the set of fields visible in the view mode are dependent on the feature's status, which i

[2020-07-29 00:25] michaelwasserman commented on #937
I'll put the explainer link in the "Doc link(s)" field for now... thanks for pointing out this chromestatus issue!

[2020-07-29 20:23] dway123 opened #938 "Unable to leave "Doc Link(s)", "Intent to Prototype" link, etc fields empty when editing old chromestatus entries"
**Describe the bug**
When editing old chromestatus entries to add some information, like shipped milestones, we're unable to leave some fields empty. This means folks may simply not add this new information, since they may not have all the other information readily available (or this information may not exist at all).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.chromest

[2020-07-29 20:50] jstenback commented on #937
For context, there's a number of pieces of information that is collected by the chromestatus.com tool that is not displayed when you go view an entry. Whether right or wrong, that is by design, as a bunch of the information is only collected for the purposes of feeding into the template generation that the tool does for "Intent to *" messages, and are primarily only relevant there, as part of the

[2020-07-29 22:13] jrobbins opened #939 "Don't show red "This field is required" for <select> form fields"
**Describe the bug**
In the guide UX, after creating a feature than moving to the incubation form, the <select> for technical footprint shows a red warning message "this field is required" even though the user will alway be posting some value for that <select>.

**Expected behavior**
Don't clutter the page with unnecessary warnings.

[2020-07-30 00:42] jrobbins opened #942 "Error sending notifications to features that have more than 30 starters"
**Describe the bug**
We are hitting a limit on datastore query terms in models.UserPref.get_prefs_for_emails.  The IN operator can only have 30 values.

**To Reproduce**
This is showing up in the server logs.

**Expected behavior**
We should be able to notify any number of users.

**Additional context**
My plan is to fetch the user settings in batches of 25.

[2020-07-30 13:58] jpmedley commented on #938
Thank you for filling this out. We are working that. In the meantime, the firm accepts a space as an entered value.

[2020-08-03 21:40] aglaforge opened #946 "Address auto-complete shouldn't apply to features."
**Describe the bug**
Auto-fill is getting triggered on the new feature entry page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://cr-status-staging.appspot.com/guide/new
2. Click on enter a Feature Name (on a browser that has existing auto-fill data)
3. Auto-fill triggers.

**Expected behavior**
Address autofill shouldn't trigger for that form/field.

**Additional context**
It

[2020-08-03 21:49] aglaforge opened #947 "Typing http:// into url form fields feels reptitive"
**Describe the bug**
When completing url fields, the tool forces the text input to include the protocol (e.g., "https://") in the string.  Doing manual data entry this became pretty noticeable, failed validation and had to re-edit a few times.

Perhaps there are ways that we could soften this:

[2020-08-05 08:53] pulkitgulati opened #950 "textarea new line not visible at the top after scrollbar appears"
**Describe the bug**
We received the issue for one of our Applications in the textarea where you keep entering new lines until scrollbar is active. Use the keyboard Arrow keys to go back to the top position and press enter. You'll think that nothing has happened, as new line is added but not in View until you scroll up with mouse or Arrow key.

Chrome Version 81.0.4044.113 (Official Build) (64-bit

[2020-08-05 15:04] jpmedley commented on #950
Paul,

Thank you opening this. Unfortunately, this site is for bugs related to [Chrome Status](https://www.chromestatus.com/), not for bugs related to Chrome. Can you please open a bug a https://bugs.chromium.org/p/chromium/issues/list.

Thanks

[2020-08-05 15:04] #950 closed

[2020-08-05 18:46] #939 closed

[2020-08-05 18:46] #935 closed

[2020-08-06 20:43] cwilso commented on #929
Done: https://sites.google.com/a/chromium.org/dev/blink/launching-features.

[2020-08-06 20:43] #929 closed

[2020-08-07 16:06] npm1 opened #955 "Login status should be more prominent"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to more easily tell if/when I'm logged in. In addition, when I login I think I'm sometimes having to refresh the page so that the login-only content (like adding a new feature) shows up.

**Describe the solution you'd like**
The login button should be 1. larger 2. at the top of the page instead of the bottom 3.

[2020-08-07 16:10] npm1 opened #956 "New UI pre-populated wrong "Contact emails""
**Describe the bug**
I clicked to add new feature, clicked to try new UI. I see that the "Contact emails" part is pre-populated, but it shows "kbr@chromium.org". That seems like a bug? It should either be blank or be pre-populated for me with "npm@chromium.org".

[2020-08-07 17:34] jrobbins commented on #955
Yep, this all matches up with work I am doing on a new page layout and color scheme.

[2020-08-07 19:47] jpmedley commented on #956
I'm unable to duplicate this. Can you try refreshing the cache and see if it still happens?

![image](https://user-images.githubusercontent.com/8204171/89682746-1b2b0480-d8ac-11ea-9e93-a6ad0db3b124.png)

[2020-08-07 20:20] npm1 commented on #956
I tried this flow again and didn't see the Contact emails populated at all, weird.

I still have to reload the page after logging in in order to see the "add feature" button. Do I file a separate bug for that?

[2020-08-07 20:21] jpmedley commented on #956
Please.

[2020-08-07 20:21] #956 closed

[2020-08-07 20:33] npm1 opened #957 "Login requires refresh to see 'Add feature' button"
**Describe the bug**
After logging in, I should see the buttons like adding a new feature. Currently I don't and require a refresh of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to chromestatus.com without being logged in.
2. Login and notice that the button to add feature is not present.
3. Refresh, and notice the button appearing.

[2020-08-11 02:08] araafat3 opened #962 "Application stuck on splash screen"
Bug Report
Problem
What is expected to happen?
go to screen after splash screen

What does actually happen?
Stuck in splash screen

Information
run app on tecno C8 then app stuck on splash screen
This problem is coming randomly not all the timee

Command or Code
Stacktrace:

08-10 14:36:23.342 9169-9220/com.uba.vericash W/chromium: [WARNING:file_descriptor_set_posix.cc(22)] FileDescriptorSet destr

[2020-08-11 20:58] jrobbins commented on #957
Are you still seeing this?

I believe this was due to a bug that we had in our use of service worker, however we have completely removed service worker.   I am no longer able to reproduce this.

[2020-08-11 21:00] npm1 commented on #957
Tried just now, works fine! Closing

[2020-08-11 21:00] #957 closed

[2020-08-12 00:25] jrobbins commented on #962
This issue tracker is only for the chromestatus.com website.   You might want to report your issue to the owners of the app that you had the problem with.

[2020-08-12 00:25] #962 closed

[2020-08-12 01:02] jrobbins commented on #621
Agreed.  We are redoing the editing experience as a new "Guide" UX.  It will not be WYSIWYG, but it is more logically organized and helps guide users through the feature launch process.  We will also update the read-only feature detail page as part of issue #925.

[2020-08-12 01:02] #621 closed

[2020-08-12 01:03] jrobbins commented on #913
This is a duplicate of issue #911.

[2020-08-12 01:04] jrobbins commented on #625
This was accomplished last year.  Thanks so much for doing all that work.

[2020-08-12 01:04] #625 closed

[2020-08-12 01:06] #938 closed

[2020-08-12 01:08] jrobbins commented on #691
We no longer use HTML imports.

[2020-08-12 01:08] #691 closed

[2020-08-12 01:10] jrobbins commented on #903
This is tracked in issue #920.

[2020-08-12 01:10] #903 closed

[2020-08-12 01:12] jrobbins commented on #907
This is tracked in issue #924.

[2020-08-12 01:12] #907 closed

[2020-08-14 20:45] aglaforge opened #965 "Make choice of UI (New vs Old) Persistent"
When a user selects to use the new UI (or old UI) for editing we should remember their decision at least through the session (perhaps persistently).

[2020-08-15 10:23] mhgschmidt opened #967 "Lookalike feature in release 84 kills website access"
Hi,

we are running 2 domains:
- exabyte.systems
- exabyte-systems.com (this one does a rewrite to exabyte.systems)

Since a few days (since release 84 ?) we are getting the message "did you mean ... ?" in case somebody accesses our domain "exabyte-systems.com".

**Steps to reproduce the behavior:**
1. Go to 'https://www.exabyte-systems.com/test.html'

2. See error.  (screenshot attached)
![lookal

[2020-08-17 06:34] mgiuca commented on #937
I have also found the vice versa case is true.

I was upgrading [Digital Goods API](https://chromestatus.com/admin/features/edit/5339955595313152) to an origin trial with the intention of generating an Intent to experiment email.

Nowhere in the edit page (in either the old or new UI) can I see any way to edit the public vendor signals. But the vendor signals shows up in both the [public view](htt

[2020-08-17 15:09] jstenback commented on #967
Thanks for reporting this issue. Unfortunately this issue tracker is for the https://chromestatus.com website, not Chrome the browser. Please file issues with Chrome itself at https://crbug.com/new

[2020-08-17 15:09] #967 closed

[2020-08-17 18:34] jpmedley commented on #910
This is a duplicate of #927

[2020-08-17 18:34] #910 closed

[2020-08-17 18:43] jpmedley opened #968 "Add field for the origin trial ID"
**Is your feature request related to a problem? Please describe.**
There is a long-term goal to integrate the Origin Trials dashboard into Chrome Status. In the short term we already have a [an OKR](#927) to write the PRD for it.

**Describe the solution you'd like**
Add a field to the wizard that takes the 19-digit ID of an origin trial. This value should be displayed as a link to a specific dash

[2020-08-17 19:15] jpmedley opened #969 "Summary and other text fields should show variable-width fonts during editing."
**Describe the bug**
The use of a fixed-width font in free-form text fields leads some users to think they have press enter every time their cursor approaches the right edge of the input box. I've already edited two summaries to remove the errant crlf characters.

[2020-08-18 20:32] jrobbins commented on #947
One approach would be to wait for the user to focus on the field, and then if i is empty, set the value to "https://" and select all that text.
* For URLs where the user wants to paste in a URL, it would just require the normal paste keystroke.
* For cases where the user wants to type "http://", they would start with the "h" as normal, or use arrow keys to edit out the "s".
* For cases where the u

[2020-08-18 20:38] jrobbins commented on #909
Duplicate of #926.

[2020-08-18 20:38] #909 closed

[2020-08-18 20:39] jrobbins commented on #739
This is a duplicate of #926.

[2020-08-18 20:39] jrobbins commented on #926
The design doc is at
https://docs.google.com/document/d/1uF79Pk-UeD1DSpDvp5DPyMnVmDJi1ZwqkOcuqW5vVT4/edit#

[2020-08-18 20:39] #739 closed

[2020-08-18 20:41] jrobbins commented on #908
This is a duplicate of #925.

[2020-08-18 20:41] #908 closed

[2020-08-18 20:45] jrobbins commented on #922
This is a duplicate of #905.

[2020-08-18 20:45] #922 closed

[2020-08-18 20:46] jrobbins commented on #904
This is a duplicate of #921.

[2020-08-18 20:46] #904 closed

[2020-08-18 21:11] #892 closed

[2020-08-18 21:11] #873 closed

[2020-08-18 21:11] #819 closed

[2020-08-18 21:11] #754 closed

[2020-08-18 21:11] #880 closed

[2020-08-18 21:12] #740 closed

[2020-08-18 22:01] #49 closed

[2020-08-18 22:01] #296 closed

[2020-08-18 22:01] #297 closed

[2020-08-18 22:01] #303 closed

[2020-08-18 22:01] #307 closed

[2020-08-18 22:01] #309 closed

[2020-08-18 22:01] #310 closed

[2020-08-18 22:01] #313 closed

[2020-08-18 22:24] jrobbins opened #972 "LGTM button for API owners to approve i2e and i2s email threads"
**Is your feature request related to a problem? Please describe.**
We want to know when a given feature has be LGTMd.

**Describe the solution you'd like**
We will implement an LGTM button for API owners to press.  This will replace the UI for self-reporting of email addresses of approvers.

**Additional context**
See discussion on #966.

[2020-08-18 23:27] aglaforge commented on #947
That approach makes sense.

Any thoughts to appending https:// if they enter a valid origin + path, but they don't specify a protocol?

[2020-08-18 23:55] cwilso commented on #947
My feeling on that is "+1!"

[2020-08-19 23:27] aglaforge commented on #565
Do we have any ways to query into Monorail to get a list of components?  The indirection seems to be problematic here.

[2020-08-20 01:35] jpmedley commented on #947
+1
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Tue, Aug 18, 2020 at 4:55 PM Chris Wilson <notifications@github.com>
wrote:

[2020-08-20 14:21] jpchase commented on #565
Yes, it's possible to use the Monorail API to get a list of components. I've been able to get that working in another project.
@jrobbins I can point you at the internal code (although it's in Go, I think there are Python examples around).

[2020-08-21 18:51] jpmedley opened #975 "/features view showing different Chromium status than /feature view the same feature"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
When I look at the Permissions-Policy header entry on [the /features page](https://www.chromestatus.com/features/57459929115

[2020-08-21 22:53] #975 closed, assigned to nobody

[2020-08-24 15:00] jpmedley commented on #975
Thank you.
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Fri, Aug 21, 2020 at 3:54 PM Jason Robbins <notifications@github.com>
wrote:

[2020-08-25 21:03] #942 closed

[2020-08-25 21:03] #946 closed

[2020-08-25 21:03] #755 closed

[2020-08-25 21:03] #817 closed

[2020-08-25 21:47] jrobbins opened #978 "Explain the purpose of progress checkmarks"
**Describe the solution you'd like**

In user testing we saw that users assumed that they must earn all checkmarks before proceeding to the next stage.  That is not true, users may proceed even if there are missing checkmarks.  So, we need to explain that to users.

[2020-08-26 21:57] jrobbins opened #980 "It is confusing to offer to set a feature to stage X when it is already on stage X"
**Describe the bug**
In the Guide UI stage forms, there is a checkbox to set the intent stage to a new value.  However, that checkbox is also shown when the feature is already in that stage.  A user reported that that was confusing during a user test.

**Expected behavior**
It should say that the feature is already in that stage, or just not show that checkbox at all.

[2020-08-26 23:33] jrobbins commented on #849
I addressed this problem on the "name" field.  However, I should check that it does not occur on any other field.

[2020-08-26 23:36] jrobbins opened #982 "There is no clear way to exit the Guide UX edit page or stage forms"
**Guide UX Feedback**
During a user test, a user told us that it was unclear how to exit the Guide UX pages.  There is a "cancel" button, but the user preferred to navigate out rather than cancel.

For the overall edit UX, there is currently no way to navigate back to the feature detail page.  Instead the user must click the "All features" tab at the top of the page, which may not be exactly what

[2020-08-27 19:15] jpmedley opened #984 "Platform version numbers shown on inappropriate status."
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
"In development" status shows platform version numbers.

![image](https://user-images.githubusercontent.com/8204171/91484016

[2020-08-27 20:39] sky2 opened #985 "Streamline options for other vendors views"
When creating a new feature there is an option to choose position of other browser vendors. The list is quite exensive and could use refining. For example, what do I choose if firefox is at the intent to ship phase?

![image](https://user-images.githubusercontent.com/9326562/91492598-c820ed80-e86a-11ea-8caa-6ff874d9c2a3.png)

[2020-08-27 20:41] sky2 opened #986 "Chromstatus login should encourage using @ google"
As many folks on chrome have @chromium and @google accounts it would be good to suggest which one to use. I'm suggesting the login button has a recommendation to use @google.

[2020-08-27 20:42] sky2 opened #987 "When creating new feature should recommend using @ google"
When creating a new feature the text recommends using your @chromium. Anthony says latest recommendation is use @google. The text should be updated accordingly.

[2020-08-27 21:00] sky2 opened #988 "It's challenging to copy/paste text when creating new feature"
Create new feature. Get to step where it says, "Copy and send this text for your "Intent to ..." email. Try to select from 'Contact emails' on. I failed to actually select the 'C'. Trying to select before the 'C' results in including all the text before it ("Next steps for ..."). I ended up starting after the 'C', pasting the text and then typing 'C'. Beyond making it possible to copy the 'C', it

[2020-08-27 21:01] sky2 opened #989 "Next steps for the Blink launch process don't say what email address to send the email to"
I created a new feature and got to the stage about sending an email. It doesn't actually say what email address to use.

[2020-08-28 20:34] jpmedley commented on #988
Here's what it's doing in the new UI.

![image](https://user-images.githubusercontent.com/8204171/91612852-20bbbd80-e933-11ea-94f3-0ff57cf65088.png)

[2020-08-28 20:37] jpmedley commented on #989
We'll address this. In the meantime the email address is blink-dev@chromium.org.

[2020-08-28 23:13] jrobbins opened #990 "Offer a flat view of all fields in the guide UX"
**Guide UX Feedback**
During user testing, a user requested the ability to see and edit the complete list of fields on one page.   While the main point of the Guide UX is to teach and reinforce user awareness of the development process, it is also reasonable that users sometimes want to just dive in to edit one field regardless of the process.

[2020-08-29 19:39] gsnedders commented on #575
This is still a problem; e.g. https://chromestatus.com/feature/6318280664940544 links to a private bug.

[2020-09-01 21:09] jrobbins opened #993 "Make the Guide UX the default"
The Guide UX will become the default, but the old UI will still be available.
We will track usage of the old UI and shut it down when usage is very low.

[2020-09-03 05:54] knkbga opened #996 ""Cookies are not enabled in current environment." issue coming only in Chrome's Incognito"
The Login from GOOGLE is working on:
Firefox
Firefox Private
Chrome

But not working on Chrome Incognito. In the console I am getting the error:

[code]

How can I fix this!

[2020-09-03 15:23] #990 closed

[2020-09-03 15:23] #993 closed

[2020-09-03 15:24] #982 closed

[2020-09-03 15:24] #978 closed

[2020-09-03 15:24] #980 closed

[2020-09-03 15:32] jrobbins opened #997 "Don't accept or display "N/A" URL values"
**Describe the bug**

Sometimes a user who is editing a feature entry will fill in "N/A" for a doc link or other URL field.   This can cause the UI to show a broken link <a href="N/A">...<./a>.

**Expected behavior**
All URL fields should be validated on entry.  We should not have required fields that force users to put in placeholder values when something is not applicable.

**Additional context*

[2020-09-03 15:37] jrobbins opened #998 "Allow markdown in feature entries"
**Is your feature request related to a problem? Please describe.**
Sometimes people enter HTML in feature entry text fields.  That gets displayed as text, which is probably not what the user intended.

**Describe the solution you'd like**
If we supported markdown, users could use it for a little formatting of their entry, including HTML hyperlinks.  In those cases when a user is talking about HTML

[2020-09-03 18:29] jrobbins opened #999 "Comments field is incorrectly escaped"
**Describe the bug**
In this feature
https://chromestatus.com/features/5078049450098688
the comments include a link that is shown with visible markup.

The user only typed the bare URL.  Our UI component converted it to an <a> tag, but then rendered that as plain text.

**Expected behavior**
If we urlize text, we should keep track of the fact that it is markup and not let it be escaped afterwards.

[2020-09-08 09:04] yoavweiss opened #1001 "The form for a new feature doesn't display the "submit" button"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
I started filing a new feature status, and the initial screen didn't show me any submit button. As a result, I tracked the s

[2020-09-08 15:52] jpmedley commented on #999
It seems like this should apply to any free-form entry field, summary and motivation specifically.

[2020-09-08 17:48] jrobbins commented on #1001
What does the feature entry page look like for you?  Can you share a screenshot?

It should look like this:
https://screenshot.googleplex.com/63fgcwqzEeB3Gfq

[2020-09-09 09:50] yoavweiss commented on #1001
https://ibb.co/dLM1bbn
My viewport height is 936 pixels

[2020-09-09 16:27] jrobbins commented on #1001
Thanks for reporting that.  The floating footer has always annoyed me, so it is good to have a concrete bug report about it from a user.  I have a large local draft CL for a visual refresh that includes changing the footer to be laid out at the bottom of the page content rather than trying to have app-like position:fixed.  I'm planning on deploying that fix by Sept 14.

[2020-09-09 16:34] jrobbins opened #1002 "On-page back arrow is hard to click"
**Guide UX Feedback**

User: In “Edit feature” screens, the on-screen back button is not working.

Jason: I think it actually works but the clickable target area is smaller than the visual size of the icon, so you have to click on just the right-hand half of the icon.  That's a bug.

Root cause is probably my lack of understanding of how <a href="..."><iron-icon></a> determines the boundaries of t

[2020-09-09 16:41] jrobbins opened #1003 "Allow earlier generation of Intent to Prototype email"
**Guide UX Feedback**

User: Now, I’d very much like to create an I2P email from all the information I filed in, so that I’d be able to:
Tell people this is being worked on
Ask folks their opinions on the experimentation methods I want to take.
At the same time, I do not want to go for a Dev Trial

Jason: The legacy implementation of the intent email template page depends on the current state of t

[2020-09-09 16:43] yoavweiss commented on #1001
Yay!! :)

[2020-09-10 00:25] jrobbins opened #1004 "Offer safe Delete for feature entries"
**Guide UX Feedback**
If someone accidentally creates an unwanted feature entry, they have no way of deleting it without asking an administrator for help.

This was a design flaw of the old UI that we have not addressed yet because it is a low frequency use case.

A better design would be to have a soft delete command that simply marks the feature as deleted.  Only admins and the user who deleted

[2020-09-10 16:08] jpmedley commented on #1004
This could also address a use case I just sent an email about. Someone starts a feature, but it gets put on the back burner. A few years go by and someone else inherits the project and duplicates the feature, not realizing that one already existed.

[2020-09-10 17:00] jrobbins opened #1005 "Offer more granular ACLs so that we can privately share security-related features before making them public"
**Is your feature request related to a problem? Please describe.**
We currently have unlisted feature entries so that developers can share draft feature entries while they work through the process of writing more details.  However, unlisted features can still be viewed by anyone who guesses the URL.

**Describe the solution you'd like**
It would be better to implement actual ACL and explicit shari

[2020-09-10 17:15] tidoust opened #1006 "Media Source Extensions: "prefixed" flag should be false for Chrome"
Same issue as #685 but for Media Source Extensions (MSE).

The `prefixed` flag for MSE (entry id: `4563797888991232`) is set to `true` for Chrome in [`features.json`](https://www.chromestatus.com/features.json). It has been a while since Chromium switched to the unprefixed version though, so I believe that flag should be false.

Let me know if I'm not supposed to rely on this flag. For instance, I

[2020-09-10 19:31] jpmedley commented on #1006
We don't try to keep entries for shipped features up to date. I think this is an interface problem rather than data problem. I'm repurposing the bug to reflect that.

[2020-09-10 19:49] clelland opened #1008 "Can't enter milestones for feature deprecation"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
The "Prepare to Ship" stage for a feature deprecation and removal has a progress checkmark for "Updated target milestone". H

[2020-09-10 21:47] jrobbins opened #1009 "Separate cards for standardization vs. implementation in chrome and dynamic milestone fields"
**Is your feature request related to a problem? Please describe.**
Joe had reported that we lost the conditional field logic from status_in_chrome to the various milestone fields.  Certain milestone fields should be shown and required when the implementation status is set to certain values.  There was JS logic for that in the old UI.

**Describe the solution you'd like**
In the guide UX, allow eac

[2020-09-10 22:56] tidoust commented on #1006
Are "old, shipped features" in Chrome those that have an "Enabled by default" status in `features.json`?

There are only a handful of features that have an "Enabled by default" status and a `prefixed` flag set to true. Two other cases may warrant updates (in the data or in the interface):
- The Fullscreen API has shipped in Chrome without prefix but the entry is for the [Prefixed Fullscreen API](h

[2020-09-11 13:48] jpmedley commented on #1008
Thank you for opening this. Your timing is interesting because we've been working on fixing this for the lat two days. I'll keep you updated on our progress.

[2020-09-11 13:54] jpmedley commented on #1008
Here's the tracking bug: #1009

[2020-09-11 13:56] jpmedley commented on #1008
Marking this as duplicate and closing.

[2020-09-11 13:56] #1008 closed

[2020-09-11 14:01] jpmedley commented on #1006
I was imprecise. We don't keep features updated when status changes to "Enabled by default". The primary purpose of Chrome Status is for features in development. It is *not* a reference for features that already exist.

[2020-09-11 14:26] clelland commented on #1008
Thanks!

[2020-09-11 15:55] clelland opened #1010 "LGTMs field doesn't validate multiple email addresses"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
The "Intent to Ship LGTMs" field requests a comma-separated list of email addresses, but flags the field with a message when

[2020-09-11 16:36] tidoust commented on #1006
Understood. Then I know when I can rely on the `prefixed` flag in `features.json`. That's good for me, thanks!

I note that it may still be worth updating the title of the [Prefixed Fullscreen API](https://www.chromestatus.com/feature/5259513871466496) to drop "Prefixed". People searching for Fullscreen on Chrome Platform Status might find the entry confusing (well, I find it confusing, at least ;

[2020-09-13 00:57] d-01 opened #1013 "Percentage values order is not changed on the page "usage > all features > stack rank" when clicking on "Percentage" column title"
**Describe the bug**
The percentage values order is not changed on the page *usage > all features > stack rank* (<https://www.chromestatus.com/metrics/feature/popularity>) when clicking on the *Percentage* column title.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to <https://www.chromestatus.com/metrics/feature/popularity>
   1. Notice the default sort order is "by *Percentage* descen

[2020-09-14 17:13] jrobbins opened #1015 "Metrics data is stale"
**Describe the bug**
The feeds that populate the metrics charts are missing some days of data, or not updating at all on recent days.
For example, this feed
https://chromestatus.com/data/timeline/featurepopularity?bucket_id=3137
Has scattered data up to Sept 5, and then nothing from the 6th to the 14th.

Logs show that the cron job was running out of RAM.  But, even on a successful run, this parti

[2020-09-15 00:47] jrobbins opened #1017 "measurement field"
**Describe the solution you'd like**
Chris Harrelson added a "Measurement" section to the old doc template for intent emails.
We should support that in the chromestatus tool by adding a string field for measurement strategy to the Feature objects.
And, add it to the intent email template so that it shows up there.

**Additional context**
https://docs.google.com/document/d/1vlTlsQKThwaX0-lj_iZbVTzy

[2020-09-15 00:50] jrobbins commented on #1017
@cwilso Do you think that a "measurement" field is a good idea, and if so, how should it fit into the launch process?  Specifically, which stage should prompt for it, and what guidance should the help text offer?

[2020-09-15 01:00] chrishtr commented on #1017
/cc

[2020-09-15 19:38] jrobbins commented on #997
Specifically, this is currently showing up in a doc link shown on https://chromestatus.com/features/6040389083463680

[2020-09-15 20:14] jrobbins commented on #868
This is being addressed in PR #1011.

[2020-09-15 20:16] jrobbins commented on #902
This was resolved by PRs #1016 and #1018.

[2020-09-15 20:16] #902 closed

[2020-09-15 20:20] #1003 closed

[2020-09-16 14:15] jpmedley commented on #997
I'm pretty sure these exists because the old UI required these fields to be filled in, whether or not there was something to fill it with. I've been replacing them with blank spaces whenever I found them. (string.trim() was not applied to the field as you might expect.)

[2020-09-16 20:39] jrobbins commented on #989
This is live now.  The template now says to send the email to blink-dev.

[2020-09-16 20:39] #989 closed

[2020-09-17 06:29] mikewest commented on #1015
It looks like this is still dead. Any updates? cc @jpchase

[2020-09-17 19:06] cwilso commented on #1017
Yes, good idea.  Should show up during "Evaluate Readiness for Shipping", text field with instructions: "It's important to measure the adoption and success of web-exposed features. Note here what measurements you have added to track the success of this feature, such as UseCounters."

[2020-09-17 19:21] mrego commented on #1017
As an idea maybe we could also add an optional field that could link to the UseCounter if it exists. So when someone browse the feature in chromestatus they get a link to the UseCounter directly.

[2020-09-17 19:31] cwilso commented on #1017
How often is this something OTHER than a usecounter?  Maybe we should say ""It's important to measure the adoption and success of web-exposed features. Note here what measurements you have added to track the success of this feature, such as a link to the UseCounter(s) you have set up."

[2020-09-17 23:38] chrishtr commented on #1017
new text sounds fine to me.

Some features (JS ones in particular) don't use the UseCounter machinery and may have an alternative. Same for networking features I would imagine.

[2020-09-18 21:19] jrobbins commented on #1002
This was caused by the ::after element associated with the app-drawer element.  It was a transparent area that overlaid the edge of the app content, making it impossible to click on anything in the 20px wide area.  We never noticed it because there was nothing else clickable there.

Anyway, I removed the app-drawer and did our side-nav with a regular <div>.
The arrow icon is now clickable.
This ch

[2020-09-18 21:19] #1002 closed

[2020-09-18 21:36] jrobbins commented on #955
The Login status is now in the far upper right.

[2020-09-18 21:36] #955 closed

[2020-09-18 21:37] jrobbins commented on #897
The login info is now in the far upper right.

[2020-09-18 21:37] #897 closed

[2020-09-18 21:37] jrobbins commented on #896
This is now live.

[2020-09-18 21:42] jrobbins commented on #969
This might have been fixed by other changes.  I don't see fixed-width fonts being used now.

Is there any field where you still see fixed-width fonts?

[2020-09-18 21:54] jrobbins commented on #1001
The floating footer is gone now.  There should be nothing covering up any submit buttons.

[2020-09-18 21:54] #1001 closed

[2020-09-21 06:05] mikewest commented on #1015
Good news: some of the data updated on the 19th!

Bad news: it was mostly zero'd out.

[2020-09-21 12:05] mikewest commented on #1015
Perhaps things were propagating when I looked this morning? https://chromestatus.com/data/timeline/featurepopularity?bucket_id=3137 seems to have data!

[2020-09-21 15:00] jpmedley commented on #969
I'm still seeing this:

![image](https://user-images.githubusercontent.com/8204171/93783425-858bd000-fbe0-11ea-82ba-4596a591062d.png)

[2020-09-21 20:14] #896 closed

[2020-09-21 20:51] jrobbins commented on #969
I must have been looking in the wrong place when I wrote that.
I see the fixed-width fonts during editing now.
I will make this change now.

[2020-09-22 15:38] tdresser opened #1028 "Feature usage curve fitting allows negative values."
The feature usage curve shouldn't show negative values, but sometimes does.

![image](https://user-images.githubusercontent.com/470465/93520516-9b597680-f8fc-11ea-86b9-32ef890169f4.png)

[2020-09-22 17:42] jrobbins commented on #1017
LaForge raise the question as to whether this needs to be a field in ChromeStatus or if it could be a section of the design doc.  What's the pragmatic difference between this field and other details that are OK as design doc sections?

[2020-09-22 19:18] domenic opened #1029 ""Issues addessed" mispelling"
**Describe the bug**

In generated intent emails, the "TAG review status" is generated as "Issues addessed", instead of "Issues addressed" with an "r".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://chromestatus.com/admin/features/launch/5683766104162304/3?intent
2. See the misspelling

**Expected behavior**
Correct spelling

[2020-09-22 19:21] domenic opened #1030 "Newlines are not preserved in the generated intent emails "Interoperability and Compatibility" section"
**Describe the bug**
Generated intent emails collapse newlines in the "Interoperability and Compatibility Risks:" field into spaces.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://chromestatus.com/guide/editall/5683766104162304. Notice how the "Interoperability and Compatibility Risks:" section contains several paragraphs, separated by newlines.

2. Go to https://chromestatus.

[2020-09-22 19:30] domenic opened #1031 "Web platform tests link/description excluded from generated email"
**Describe the bug**
Generated intent emails simply say "Yes" for "Is this feature fully tested by web-platform-tests?", and do not link to the test details provided.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://chromestatus.com/guide/editall/5683766104162304. Notice how the "Web Platform Tests Description:" section contains a link to the results on wpt.fyi.

2. Go to https:

[2020-09-22 19:55] #969 closed

[2020-09-22 19:59] #894 closed

[2020-09-22 22:23] jstenback commented on #955
Sweet, been wanting to see this happen for a while! 👍

[2020-09-23 03:50] jrobbins commented on #1029
Fixed.

[2020-09-23 03:50] #1029 closed

[2020-09-23 06:50] mikewest commented on #1015
Seems to have flakily succeeded on the 19th. No updates since.

[2020-09-23 14:21] jpmedley commented on #1030
@jrobbins This happens in the summary field too. Eric did this intentionally. I don't know why. We should consider removing this from all text fields.

[2020-09-23 16:21] jpmedley opened #1035 "Consider Leading default page with something other than "No active development""
**Is your feature request related to a problem? Please describe.**
Currently, the default view for Chrome Status opens with "No active development", as shown below. The reason this is at the top is lost in the mists of time. The moment has arrive to discuss what we want viewers to see when they arrive at the site.

![image](https://user-images.githubusercontent.com/8204171/94040153-72facd80-fd7d-1

[2020-09-23 22:53] cwilso commented on #685
Fixed.

[2020-09-23 22:53] #685 closed

[2020-09-23 22:55] cwilso opened #1036 "Consider removing "prefixed" field"
We don't really use prefixing anymore, and haven't for years.  As per @jstenback, perhaps we should remove/hide?

[2020-09-25 21:11] travisleithead opened #1042 "Where to set TAG review in new UI/workflow?"
**Guide UX Feedback**

Working on https://www.chromestatus.com/guide/edit/5765269513306112, and clicked "Draft Ready for Trial email". The draft includes a TAG review field, but I haven't seen a place to add the TAG review in the new flow so far.

Would love to get a way to do that :)

[2020-09-28 15:13] justinfagnani commented on #1015
I noticed this too. The data for is bucket 1689very sparsely filled out for September: https://chromestatus.com/data/timeline/featurepopularity?bucket_id=1689

There are missing days for other recent months too, but September is particularly bad.

[2020-09-29 13:59] jpmedley opened #1045 "Add a "Related features" field to the online form."
**Is your feature request related to a problem? Please describe.**
Sometimes features are extensions or changes to existing features. Examples inlcude.
* Additions to an existing API
* Features that replace an older feature, also listed in Chrome Status
* Deprecations/Removals

**Describe the solution you'd like**
* The field takes a comma separated list of either URLs or feature IDs.
* Field shou

[2020-09-29 21:02] jrobbins commented on #539
This was done

[2020-09-29 21:02] #539 closed

[2020-09-30 21:13] jrobbins commented on #1017
Ping.  Before I implement this, can we state a reason why having this text in a chromestatus field would be better than having it in the templates that developers use for design docs?

I see that there is already a section named "Metrics" in  go/chrome-design-doc-template.  It doesn't ask for UseCounters, but maybe it should.

[2020-09-30 21:59] mrego commented on #1017
Honestly I don't know which are those templates for design docs (e.g. they're not linked from https://www.chromium.org/blink/launching-features), and I've seen very different formats on design docs; even sometimes design docs are skipped for some features.

In any case just sharing my opinion, I think it has a value to be able to go directly to the use counter of a feature from the chromestatus en

[2020-10-01 19:28] chrishtr opened #1051 "Clarify signals in intent-to-ship"
I think the intent-to-ship form does not currently link to [this document](https://docs.google.com/document/d/1xkHRXnFS8GDqZi7E0SSbR3a7CZsGScdxPUWBsNgo-oo/edit) when specifying how to collect signals from Gecko and WebKit. That should be added.

Bonus points for adding some javascript that warns the developer if their signals don't look like a link to mozilla standards positions or webkit-dev?

[2020-10-02 15:06] jpmedley opened #1054 "Properly mark reverse origin trials so that they don't look like origin trials."
**Is your feature request related to a problem? Please describe.**
There is currently a high-profile deprecation trial under way [for AppCache](https://www.chromestatus.com/feature/6192449487634432). In the current design, the closest available status in Chromium is origin trial. This could give the faulty impression that App Cache is being added  or revived.

**Describe the solution you'd like**

[2020-10-04 15:02] xPaw opened #1055 "Some Chrome reports and chromium source code contain links to "/features/:id" which does not work"
Using reporting api, I get reports like this:
[code]

The `/features/` url does not load, as it needs to be `/feature/`, I am unsure if this is a mistake in Chrome's code or chromestatus.com changed and does not support that route anymore.

There's plenty of references to it in Chromium source code as well: https://source.chromium.org/search?q=chromestatus.com%2Ffeatures%2F&ss=chromium&start=1

[2020-10-05 16:04] jpmedley commented on #1055
Thank you for submitting this issue.

This is a known issue. It's a byproduct of a change to make the features/ page load faster. We have it on our list to fix, but have not gotten to it yet.

[2020-10-06 21:01] jrobbins commented on #1030
This was deployed,

[2020-10-06 21:01] #1030 closed

[2020-10-06 21:02] jrobbins commented on #1017
This was added and it is live now.

[2020-10-06 21:02] #1017 closed

[2020-10-06 21:05] jrobbins commented on #868
This was deployed.

[2020-10-06 21:05] #868 closed

[2020-10-06 21:09] carolrivero opened #1058 "KR: We have upgraded to python 3 and replaced GAE services (auth, datastore, mail, etc.)"

[2020-10-06 21:14] carolrivero opened #1059 "KR: We have upgraded to python 3 and replaced GAE services (auth, datastore, mail, etc.)"

[2020-10-06 21:19] carolrivero opened #1060 "KR: Start a PRD for API Owners workflow into WebStatus (e.g., deprecation of bit.ly/blinkintents and"

[2020-10-06 21:27] #926 closed

[2020-10-06 21:28] #923 closed

[2020-10-06 21:29] #920 closed

[2020-10-06 21:29] #744 closed

[2020-10-06 21:30] #742 closed

[2020-10-07 13:44] jpmedley commented on #868
Yeah!

[2020-10-08 22:13] caraitto opened #1061 "Can't see high usage APIs"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
A clear and concise description of what the bug is.

I'm no longer seeing APIs with high usage -- just APIs with low usage.

[2020-10-13 14:01] ghost opened #1065 "change of keyboard shortcuts and exit confirmation"
please add the ability to change keyboard shortcuts and confirm exiting the browser. I am a disabled person and need one-touch shortcuts. in google chrome.

[2020-10-13 21:18] carolrivero commented on #924
@jpmedley -  what are the next steps for this KR? Thanks.

[2020-10-14 07:06] foolip opened #1066 "Existing /features/:id URLs don't work"
**Describe the bug**
https://www.chromestatus.com/features/5699616519487488 doesn't show the "CSSKeyframesRule.insertRule() (removed)" entry but rather a list of all entries

**To Reproduce**
Steps to reproduce the behavior:
1. Browse blink-dev from 2015: https://groups.google.com/a/chromium.org/g/blink-dev/c/wW7w8Hro78s/m/JDULF2oM9iIJ
2. Click the https://www.chromestatus.com/features/56996165194

[2020-10-14 15:34] jrobbins commented on #1066
Going forward, we should use the feature detail page for these links.  I'll make sure that that is the case.

For existing links in the mailing list archive, I think the problem might be that we only display a limited number of features and this feature is not one of the ones displayed.  I like the idea of a redirect.  We could even add some JS code that uses an API to check that such a feature ex

[2020-10-14 16:34] lilles opened #1067 "Did not find a way to generate an intent-to-prototype mail"
The process documentation says:

Proceed to the “Start Prototyping” stage in ChromeStatus - this will generate an “Intent to Prototype” mail for you.

I cannot find a way to generate that mail.

I am editing this one:

https://chromestatus.com/guide/edit/5689463273422848

[2020-10-14 17:52] jrobbins commented on #1067
You can use this link:
https://chromestatus.com/admin/features/launch/5689463273422848/1?intent

@cwilso Somehow the process description page and the guide UX got out of sync.  Is the second stage for "Existing feature implementation" supposed to be "Implement" or "Stat prototyping"?  And, is a I2P email needed for existing features or not?  Let me know and I will send a CL to make the tool match

[2020-10-14 21:20] jpmedley opened #1068 "'Example'"
**Is your feature request related to a problem? Please describe.**
Developers sometimes use fake domains containing the word 'example'. ('Example' cannot be purchased as a domain name for exactly this use case.) Chrome Status automatically converts all URLs to links. URLs containing the word 'example' probably should not be converted.

**Describe the solution you'd like**
URLs such as www.example.

[2020-10-14 23:26] cwilso commented on #1067
Yes, an I2P is still needed for existing features.

Hmm.  I think step 1 should be "Identify Feature and start coding", and Intent to Prototype mail can be sent there.  (This is the one case where "Intent to Implement" actually made sense, but let's leave it as I2P.).  Step 2 ("Implement") probably disappear, since there's no updates for it?

[2020-10-16 08:43] mrego commented on #1051
Also Edge shouldn't be on the form anymore, and I guess neither on the summary view of a chromestatus entry.

[2020-10-16 08:51] mrego commented on #1017
I cannot find this filed in chromestatus yet, could you point it to me where is this in the UI?

For example, if I go to https://www.chromestatus.com/guide/stage/5738050678161408/5 I don't see it (this is in stage *Prepare to ship*).

Thanks.

[2020-10-19 17:36] sbingler commented on #1068
I'd also like to add that the link rendering on the overview vs standalone pages are different in that the overview page will omit the scheme of the link but the standalone will show it.
**Overview**:
![image](https://user-images.githubusercontent.com/12186777/96491162-b1f23680-11f6-11eb-8e35-152d79e20d32.png)
**Standalone**:
![image](https://user-images.githubusercontent.com/12186777/96491184-b9b

[2020-10-19 18:28] jrobbins opened #1069 "Upgrade source code to python 3 language"

[2020-10-19 18:29] jrobbins opened #1070 "Convert from webapp2 to flask and upgrade django"

[2020-10-19 18:29] jrobbins opened #1071 "Convert from memcache to cloud memorystore"

[2020-10-19 18:29] jrobbins opened #1072 "Convert from GAE tasks to Cloud Tasks"

[2020-10-19 18:29] jrobbins opened #1073 "Convert from using app identity library to env. vars"

[2020-10-19 18:29] jrobbins opened #1074 "Convert from using urlfetch to native python library"

[2020-10-19 18:30] jrobbins opened #1075 "Research which data storage backend to use"

[2020-10-19 18:30] jrobbins opened #1076 "Convert application code to use new storage backend"

[2020-10-19 18:30] jrobbins opened #1077 "Get unit tests running locally with both py2 and py3"

[2020-10-19 18:30] jrobbins opened #1078 "Reconfigure our CI system to use both py2 and py3"

[2020-10-19 18:31] jrobbins opened #1079 "Update and test code in scripts/ directory to run under python 3"

[2020-10-19 18:31] jrobbins opened #1080 "Update developer documentation with instructions for python 3"

[2020-10-19 18:37] #1058 closed

[2020-10-20 16:55] jpmedley commented on #1066
@foolip,

Thank you for bringing this up. This is a known issue and a duplicate #1055. I hope you'll forgive that we need to close your version of the ticket.

Joe

[2020-10-20 16:55] #1066 closed

[2020-10-20 20:43] jpmedley commented on #1068
@sbingler Thank you for the extra information.

[2020-10-22 17:40] wanderview opened #1081 "Setting "Will this feature be supported on all six Blink platforms" for intent prototype"
Hello, I recently created a new chromestatus entry:

https://www.chromestatus.com/feature/5731920199548928

When generating the intent to prototype the email seemed to always include "no" for "Will this feature be supported on all six Blink platforms?"

I couldn't figure out how to get chromestatus to understand that I plan to ship this on all platforms.  For now I just changed the email I actuall

[2020-10-22 19:06] jrobbins commented on #1081
Sorry if that is unclear.   The checkbox for that is in the form for the Dev Trails stage:
https://www.chromestatus.com/guide/stage/5731920199548928/2

I realize that your feature is still on the "Start prototyping" stage.  So, naturally you have not filled that out yet.  In fact, that field should not appear in the I2P email.  I'll change that.

[2020-10-27 23:43] mgiuca commented on #937
I just hit this again for https://www.chromestatus.com/feature/5263213807534080

We've correctly entered the Explainer link, but there is no way to find this link (the main link to learn more about this API) for a casual observer.

Rather than tackling the whole problem, could we just make Explainer links always visible regardless of the intent stage? That seems to be the main missing field.

[2020-10-28 21:54] jyasskin opened #1082 "Broken link to "interoperability risk"
https://chromestatus.com/guide/stage/5710618575241216/2 has a "Describe the degree of interoperability risk." link that goes to https://sites.google.com/a/chromium.org/dev/blink?pli=1#TOC-Policy-for-shipping-and-removing-web-platform-API-features, which has been refactored away.

The right new target *might* be https://www.chromium.org/blink/guidelines/web-platform-changes-guidelines#TOC-Finding-b

[2020-11-02 15:23] #984 closed

[2020-11-02 15:29] jpmedley opened #1083 "Origin trial ranges are not shown on rendered versions of a feature"
The feature https://www.chromestatus.com/features/5723553087356928 is in an origin trial from 81 to 87. Neither of the displays shows this range, forcing the feature owner to list this in the summary field.

The [feature view](https://www.chromestatus.com/feature/5723553087356928) only shows the starting version number:

![image](https://user-images.githubusercontent.com/8204171/97885911-d19c5b00-

[2020-11-02 16:22] jpmedley commented on #937
Matt,

I apologize for not following up on this.

Gang, here's the issue he opened. Can we get this on our schedule?

https://github.com/GoogleChrome/chromium-dashboard/issues/937

Joe
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Tue, Oct 27, 2020 at 4:43 PM Matt Giuca <notifications@github.com> wrote:

[2020-11-02 19:11] jyasskin commented on #1082
To be clear, this is about the interface of that page (and probably other pages with similar links into chromium.org), and not the content of that particular feature.

[2020-11-02 19:14] jrobbins commented on #937
Sorry to let this slide.  I will get back to working on it today.

On Mon, Nov 2, 2020 at 8:23 AM Joe Medley <notifications@github.com> wrote:

[2020-11-03 17:54] jpmedley opened #1086 ""No active development" status overrides desktop version number/"
**Describe the bug**
If a version number is provided for desktop and the Chromium status is set to "No active development", the desktop version number is overwritten with the Chromium status. (See the image below.)

![image](https://user-images.githubusercontent.com/8204171/98021976-db47c080-1db9-11eb-8ce9-f490213e58ed.png)

**Expected behavior**
We need to discuss this. I think the original inten

[2020-11-03 17:57] jpmedley commented on #1086
Apparently this happens for statuses that aren't some form of release (flag, OT, or ship).

[2020-11-03 19:07] jstenback commented on #1082
https://docs.google.com/document/d/1LdqUfUILyzM5WEcOgeAWGupQILKrZHidEXrUxevyi_Y/edit might be the best thing to link at here, with a change to the exact text as well. @cwilso do you agree, or is there a better thing we can link to in the new process docs?

[2020-11-04 22:05] xiaochengh commented on #1086
Note: the issue was observed in https://www.chromestatus.com/feature/5692693659254784

And after I flipped it from "No active development" to "Proposed" and "In development", the display error seems gone

[2020-11-05 15:27] mrego commented on #1017
I found this now, it's in the *Prepare to ship* stage but only for features marked as *New feature incubation*.

I think we want to have this in the other cases too.
At least it's clear we want it in *Existing feature implementation* (if there's a standard property that we want to implement, we want to be sure we're measuring this).
For "Web developer facing change to existing code" we might want

[2020-11-05 16:42] theabbie opened #1087 "Autocomplete: Don't modify existing fields"
**Is your feature request related to a problem? Please describe.**
When Filling a Form in chrome browser, if there are multiple input fields and I fill them in order, Suppose I want to use the autocomplete to fill the remaining form midway through the form and I click on the option, it overwrites the fields which were filled by me.

**Describe the solution you'd like**
 Though it's intended, it sh

[2020-11-05 17:36] jpmedley commented on #1086
I'm not sure what made me think otherwise. We do still have a problem with 'No active development'.

[2020-11-08 07:37] guidou opened #1089 "Add "Start prototyping" questions to the corresponding stage"
**Guide UX Feedback**
When preparing my first Intent to Prototype using the new process, the generated email had missing or incorrect information because the some of the questions included in that stage (e.g., compat/interop risk, support for all platforms) appear in the next stage. It took me a while to figure out that I could answer the questions in the next stage and generate the email text aga

[2020-11-09 22:47] jrobbins commented on #1087
If you find a place where it is still happening, please point me to it.

Previously I had found that the feature name field could trigger autofill, so I added an attribute to change that.  If you find another case, I can probably fix it the same way.

[2020-11-10 01:37] theabbie commented on #1087
@jrobbins sure, will let you know

[2020-11-10 20:03] jrobbins commented on #1082
Hmm, that doc is titled "Deprecation Guidelines".  But, interoperability risk applies to both deprecation and new features (the more common case).

There is already a second link in that help text that points to "Blink principles of web compatibility"
https://docs.google.com/document/d/1RC-pBBvsazYfCNNUSkPqAVpSpNJ96U8trhNkfV0v9fk/edit#heading=h.83o2xr8ayal6
That second doc looks pretty comprehensi

[2020-11-10 20:11] jrobbins commented on #1082
Oh, actually, the first link has a section "Launching and Removing Features" that lists three other docs and a video.

Maybe the first link should be kept and adjusted to a new anchor
https://sites.google.com/a/chromium.org/dev/blink#TOC-Launching-and-Removing-Features

[2020-11-11 17:33] chrishtr opened #1094 "Add text clarifying meaning of recently-added UseCounters"
UseCounter data only takes into account release channels a UseCounter has already been shipped to. For example, a brand-new UseCounter would have both the numerator and denominator of the usage fraction coming from the number of page loads in the Canary channel. As the UseCoutner is deployed to more channels, both automatically expand to all such channels.

To clarify that this is the behavior, le

[2020-11-18 18:35] jyasskin opened #1096 "Links at bottom of page are hard to get to"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
The "Discuss   File an issue       Privacy      About" links at the very bottom of https://chromestatus.com/features are bel

[2020-11-19 20:57] jrobbins commented on #1035
Anthony also asked about this.

I am thinking of moving "No active development" to be after the numeric milestones, just before "No longer pursuing".  I'll leave the other implantation statuses in the order that they have now, so Proposed features would be at the top of the page.

This has the side effect that newly created features will appear near the bottom of the list until someone edits them

[2020-11-20 17:36] #1094 closed

[2020-12-01 21:50] #999 closed

[2020-12-01 21:51] #806 closed

[2020-12-01 21:51] #899 closed

[2020-12-01 21:51] #1009 closed

[2020-12-01 21:51] #1081 closed

[2020-12-01 22:39] scheib commented on #823
Please consider Drafts that can be shared before submitting.  E.g. a feature owner drafts an Intent to Ship, but would like a few team mates to review before publishing widely.

[2020-12-01 23:47] inexorabletash opened #1102 "Default text for "is this feature fully tested..." is poor"
**Repro:**

1. Edit a feature
2. Click "Draft Intent to Ship email"
3. Note "Is this feature fully tested by web-platform-tests?" text.

**Expected:**

Something that encourages high-quality answers. For example: "Please give a detailed response, e.g. Yes, <insert link here>. or Partial coverage of IDL, but the feature requires specific hardware so there are only manual tests"

**Actual:**

"No"

[2020-12-02 10:06] lutzvahl opened #1103 "I2P generate link is missing"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
In case feature is in stage prototyping, the link to generate the I2P is not shown any more. This is not helpful.

**To Repr

[2020-12-02 15:34] jpmedley commented on #823
There is a checkbox that allows a draft to be not shown to those who aren't signed in. We created it for this use case, but if memory serves, this was not intended to be the ultimate solution. It's what we're able to do at the moment.

Were you aware of this feature? Can you provide additional information about what you ultimately want? I'm not asking you to justify a request that's above and beyo

[2020-12-02 15:38] jpmedley commented on #1102
Would it be possible to make this multiple choice, possibly with an "other" option and a text box when it's chosen?

[2020-12-02 18:52] inexorabletash opened #1104 "Intent Drafts: Suggest getting a review"
Request: Encourage having Intent draft emails reviewed by others before sending

**The problem**

It's a frequent occurrence that Intents are sent out with "obvious" mistakes - e.g. questions incorrectly or insufficiently answered, poor wording, etc. The consequence of this ranges from round-trips with API owners asking for more details, to creating unnecessary tension with other browser engine im

[2020-12-03 02:17] scheib commented on #823
#1104 describes use case for getting a review before publishing.

[2020-12-04 14:14] camillelamy opened #1105 "The new process is unwieldy for information that changes over the feature development cycle"
Hi,

**Process Feedback**
I have been using the new UX and I find it really hard to use for information that changes over the course of the feature development. It seems to me that the process expects that everything be locked in place at each stage of development, but that doesn't reflect what we have been doing.

To give you an example, let's say my team is working on a new feature. We want to s

[2020-12-04 15:49] jpmedley commented on #1104
For the informational, how about something like this:

![image](https://user-images.githubusercontent.com/8204171/101184122-306b3200-3605-11eb-9be8-db66a6569b51.png)

[2020-12-04 20:07] jpmedley commented on #1105
To put things another way, the wizard asks you to provide WPTs and spec links before you've produced them. Is that a correct assessment of what's happening?

[2020-12-05 04:07] scheib commented on #1104
LGTM

On Fri, Dec 4, 2020 at 7:49 AM Joe Medley <notifications@github.com> wrote:

[2020-12-07 15:43] jpmedley commented on #1104
@inexorabletash What do you think?

[2020-12-08 12:55] camillelamy commented on #1105
Pretty much. We have to input them at the I2P stage, where we might only have an explainer.

[2020-12-08 20:27] clelland opened #1107 "Typo in "Launch bug URL" field description"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
There is a typo in the "Launch bug URL" field description. "aprpovals" should be "approvals".

**To Reproduce**
Steps to rep

[2020-12-08 22:12] carolrivero commented on #823
Will revisit when we can add a milestone. Keep in  backlog for now.

[2020-12-08 22:13] #906 closed

[2020-12-08 22:14] carolrivero commented on #912
moving from Q4 to Q1

[2020-12-08 22:17] carolrivero commented on #933
pending user feedback if this request is valid.

[2020-12-09 00:32] xiaochengh opened #1108 "Invite external contributors to edit a specific feature entry"
An external contributor @DevSDK is working on feature https://chromestatus.com/guide/edit/5657825571241984.

However, he doesn't have the permission to edit the feature page, and can't generate the Blink Intent emails on his own.

Is there any way to allow him to edit the page? Or can we have such a feature?

Thanks!

[2020-12-09 16:34] jpmedley commented on #1107
I don't have a deployment ETA, but I believe we update regularly. I'm closing the issue.

[2020-12-09 16:34] #1107 closed

[2020-12-11 14:57] jpmedley opened #1110 "Define Needed Notifications"
The WebStatus teem has long discussed the need to send notifications and update requests at various times. This issue is for defining what notifications are needed and when they should be sent.

[2020-12-11 14:58] jpmedley commented on #1110
@carolrivero @cwilso FYI

[2020-12-11 19:16] jrobbins opened #1111 "Process model fell out of step with launching-features doc"
**Describe the bug**
When tracking a feature on the "Implementations of already-defined consensus-based standards" process, the Guide UX shows the first step as "Identify" whereas the launching-features doc says it is "Start Prototyping" and requires an I2P email.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the editing page process overview for a feature that is an implementation o

[2020-12-11 19:17] jrobbins commented on #1111
@cwilso Is the launching-features page under version control?
I'm just wondering if I missed something that was there originally or if I missed a change to it.

[2020-12-13 16:32] guest271314 opened #1112 "No "Add new feature" button"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
[Launching Features](https://www.chromium.org/blink/launching-features)  includes this language

**To Reproduce**
Steps to r

[2020-12-14 18:31] jpmedley opened #1113 "Proposal for Replacing Left-Hand Navigation"
**Is your feature request related to a problem? Please describe.**
Chrome features have more Chromium statuses than are directly accessible. Meanwhile, the features of all versions of Chrome are listed, regardless of the likelihood of anyone needing to consult them, and the feature state is now shown at all.

![image](https://user-images.githubusercontent.com/8204171/102119325-c79a6b80-3df5-11eb-8

[2020-12-14 20:35] jrobbins opened #1114 "Edge views not included in intent emails"
**Describe the bug**
The intent email templates include FF and safari views, but leave out the views for Edge.

**Expected behavior**
When we have data for a UA signal, we should display it.

**Additional context**
Edge signals was removed in
https://github.com/GoogleChrome/chromium-dashboard/commit/6af1b1366623a28bd65e9a9863a9824f7b9b82c2#diff-ec8cd8ecec9f640e8a0209f66301563e8a00d7941ddfe23d364fa

[2020-12-16 06:14] toyoshim opened #1118 "Can not edit some specific existing entry in the renewed edit page"
https://www.chromestatus.com/feature/6247959677108224

When I try updating this entry by clicking the edit icon, the server returns 500.

[2020-12-16 06:21] toyoshim commented on #1118
@jrobbins can you take a look?
it seems you are actively working on the dashboard as long as I can see in the commit log.

[2020-12-16 17:55] jrobbins commented on #1118
The problem was smart quotes that cannot be converted to ASCII.  I worked around it by changing them to plain single quotes.  The edit page should load now.

This is a defect in the way that the app handles unicode content.  I will look into the location of the defect and try to fix it.

[2020-12-17 01:40] toyoshim commented on #1118
Thanks for a quick treatment, now it works to me too!

[2020-12-17 01:40] #1118 closed

[2020-12-18 00:40] #1082 closed

[2020-12-22 04:33] tmpdat opened #1123 "HTTP/2 connection coalescing for two domains with completely different resolved IP addresses"
**Describe the bug**
During my HTTP/2 server monitoring, sometimes, I realized that  Chrome/86-87 is requesting a.example.com but using the HTTP/2 connection of the b.example.com, even though these two domains are completely different from the ip address. Therefore, the status code 404 is responded for the request with the wrong address.

**To Reproduce**
a.example.com     1xx.2.3.4
a.example.com

[2020-12-29 21:54] #1071 closed

[2020-12-29 21:54] #1069 closed

[2020-12-30 22:19] carolrivero opened #1130 "KR: API owner review happens primarily through ChromeStatus (including on-thread email notifications)"

[2020-12-30 22:29] carolrivero opened #1131 "KR: We have implemented stable identifiers for feature entries (use cases)"

[2020-12-30 22:32] carolrivero opened #1132 "KR: API owner review happens primarily through WebStatus (including on-thread email notifications)"

[2020-12-30 22:32] #1132 closed

[2020-12-30 22:37] #743 closed

[2020-12-30 22:39] carolrivero opened #1133 "KR: OT integration started"

[2020-12-30 22:51] carolrivero opened #1134 "KR: We have conducted a V2 of broad user survey and interpreted responses"

[2020-12-30 22:53] carolrivero opened #1135 "KR: WebStatus runs on python 3 in production (including email sending)"

[2021-01-05 19:50] jpmedley opened #1136 "Statuses with version ranges should show both values on rendered entry"
I opened this back in October... on the wrong repo.

**Is your feature request related to a problem? Please describe.**
Issue #1011 enhanced the underlying dataset used by Chrome Status to include beginning and ending version numbers for developer trials, origin trials, and deprecation. Currently only the beginning number is displayed on the rendered card for a status entry. You can see an example

[2021-01-05 22:22] #912 closed

[2021-01-06 19:39] jpmedley commented on #1123
@tmpdat, sorry for the late response. We've all been on vacation around here.

We appreciate you letting us know. Unfortunately, this list is for issues with [chromestatus.com](https://www.chromestatus.com/), not with Chrome. Can you please open this on http://crbug.com/

Thank you.

[2021-01-06 19:39] #1123 closed

[2021-01-07 06:18] mrego commented on #1067
Still no way to generate the intent-to-prototype mail from the new UI (other than using that link `/1?intent`).

[2021-01-07 06:20] mrego commented on #1114
I believe the idea was not to have Edge signals in the form directly, that would mean they could only be present in old features; for the new ones they won't have Edge signals, and then they won't appear on the intent mails (see #1051).

[2021-01-07 06:22] mrego commented on #1051
The form doesn't link to https://bit.ly/blink-signals, also the list of options differs from the one on the document. Edge is still present and the possible signals are different.

[2021-01-08 12:04] tomayac commented on #1051
…And we also agreed on formalizing developer signals at [goo.gle/developer-signals](http://goo.gle/developer-signals). When you add the [bit.ly/blink-signals](https://bit.ly/blink-signals), please also add the developer signals. Thank you!

[2021-01-12 22:05] carolrivero opened #1139 "Create a PRD for implementation for API owners workflow"

[2021-01-12 22:07] #1070 closed

[2021-01-12 22:08] carolrivero commented on #1060
(e.g., deprecation of bit.ly/blinkintents and associated scripts, LGTM buttons)

[2021-01-13 17:24] jrobbins opened #1140 "Fetching metrics data is flakey"
This has always been a little flakey, in part due to some memcache issues that were resolved a few months back.  But the main remaining source of flakiness is that the app that produces these metrics can get more than a day behind, which violates the assumption in the chromestatus code that we can always get yesterday's metric data.

Proposed changes:
+ add the ability for me to run our request ha

[2021-01-13 19:34] jrobbins commented on #1140
Also, the YesterdayHandler needs to return some string or dict just to satisfy Flask.

[2021-01-16 03:20] wendymhelson opened #1143 "Got pests?"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Cli

[2021-01-18 12:44] foolip opened #1144 "How to request edit access?"
In https://chromium-review.googlesource.com/c/chromium/src/+/2578703 I requested that @Honry add a chromestatus.com entry for `setTimeout` clamping. However, I can't see how to request edit access. There used to be a link, but it was removed in 04afe6964cdf8f54fac7e33753e423920ae3c49e and not replaced by anything else.

The [FAQ](https://docs.google.com/document/d/1jrSlM4Yhae7XCJ8BuasWx71CvDEMMbSK

[2021-01-19 09:30] foolip commented on #1144
This also came up [Intent to ship: Percent based scrolling](https://groups.google.com/a/chromium.org/g/blink-dev/c/5Mt8RZyf-pc/m/up-c0DPUCgAJ) where @rahul8805 was unable to edit an existing entry.

[2021-01-22 18:31] mkruisselbrink opened #1147 "Can't enter TAG review information till too far down in the process"
The Intent to Prototype includes a link to TAG review and TAG review status, but you can't actually edit these fields until you arrive at the Evaluate readiness to ship stage. It seems that all the fields that are part of the Intent to Prototype should also be part of the Start prototyping form.

[2021-01-22 18:42] mkruisselbrink opened #1148 "Edit feature complains about multiple contact emails"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
On a feature with more than one (comma separated) contact email, the edit form gives a "Enter a valid email address." error.

[2021-01-22 18:45] mkruisselbrink commented on #1147
Note that there is a similar problem with vendor signals and WPT status, which are also part of the intent to prototype template, but to edit these fields you have to skip ahead several stages in the process.

[2021-01-25 20:45] foolip opened #1149 "Following process for removals doesn't work"
I created https://chromestatus.com/feature/5769608873115648 and was editing it using the new process. Unfortunately, I can't get past the first stage. Here's what I see now:

![image](https://user-images.githubusercontent.com/498917/105763696-59010f80-5f56-11eb-950d-9ddcc122fded.png)

It looks like there's anything I can do in the "Write up motivation" stage to move it forward to the next stage. W

[2021-01-25 20:46] foolip commented on #1149
Here are some bits of the generated blink-dev email that I think aren't needed for deprecation/removal:
- Explainer
- TAG review
- Is this feature fully tested by web-platform-tests?

[2021-01-25 22:02] jrobbins commented on #1149
Some of the progress checkmarks are not implemented because we don't have underlying fields with the needed information yet.   We'll be implementing more of the checkmarks in the future.

However, you can proceed to the next stage of the process anyway.  The tool will not block you from proceeding.  In fact, you can "preview" any stage and check the checkbox to make that the current process stage.

[2021-01-25 22:10] jrobbins commented on #1149
Regarding the fields in the intent email, it shows pretty much every field that has been filled in, so it's more of a full picture of the feature rather than being specifically tailored to each different type of intent.

[2021-01-26 02:42] minifirocks opened #1151 "need permission to create feature request for multicast feature"

[2021-01-26 20:05] mkruisselbrink opened #1152 ""about" link links to very outdated doc"
**Describe the bug**
The "about" link at the bottom of chromestatus.com seems to link to a very outdated FAQ, that describes some version of chromestatus.com that was based on a spreadsheet. We should probably get rid of the about link or at least link to something that describes the current state?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.chromestatus.com/'
2. Scrol

[2021-01-26 21:11] jrobbins commented on #1151
What's the email address of the user who needs access?

If you don't want to put it in this issue, you can email me at jrobbins@google.com.

[2021-01-26 21:18] jrobbins commented on #1152
I'm thinking that I should redo this as a link to a markdown file on GitHub.  That will make it easy to edit and keep it with the source code so that it is less likely to get so far out-of-date.

[2021-01-26 22:05] #1143 closed

[2021-01-26 23:00] jstenback commented on #1151
Closing per related thread where it was made clear this is no longer an issue that needs resolving.

[2021-01-26 23:00] #1151 closed

[2021-01-26 23:05] GrumpyOldTroll commented on #1144
I ran into this and addressed it slightly differently by sending an email to blink-api-owners-discuss@chromium.org.

It asks for an update to the "launching-features" doc page, whereas I think this issue is asking to change the chromestatus/features page to give something like a link to request access, and on reflection maybe that's a better place for it (or both).

But they asked to add this mess

[2021-01-27 09:10] mrego commented on #1144
Yeah, some igalians get confused every now and then about this. Though some of us have permissions and can add/modify the entries for them.

If I'm not wrong, all @chromium.org accounts have edit permissions. But people that are not committers yet, don't have a @chromium.org account. They're in a status in which they can land a patch in https://chromium-review.googlesource.com/ that has been revie

[2021-01-27 19:15] jpmedley opened #1153 "Replace or Remove References to WebFundamentals"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
The [hack_wf_components.py](https://github.com/GoogleChrome/chromium-dashboard/blob/main/hack_wf_components.py) ffile contai

[2021-01-27 20:33] foolip commented on #1144
@jpmedley tells me that one can contact him to get an account registered, but it really would be good to document the process, even if it currently is poking Joe.

[2021-01-28 20:28] jrobbins commented on #1004
Most of soft-delete was implemented a while ago.  We just need to show a "deleted feature" detail page that has an "undelete" button.

And, we need to offer the delete and undelete buttons to feature owners.

[2021-01-29 19:40] sersorrel opened #1155 ""additional fields by process phase" widget is not keyboard-accessible"
**Describe the bug**
The "additional fields by process phase" widget:

![image](https://user-images.githubusercontent.com/9433472/106319724-c8824200-6269-11eb-846e-457fae53d559.png)

is not keyboard-accessible.

**To Reproduce**
1. Go to e.g. https://www.chromestatus.com/feature/6730096436051968#
2. Scroll to the bottom of the page
3. Try to expand "additional fields by process phase" with the key

[2021-02-02 19:29] jrobbins commented on #1144
For now, the official process is to send an email to webstatus-request@google.com to request access.
That is now documented on
https://www.chromium.org/blink/launching-features
You would be reaching more or less the same people, it just that we can add or remove group admins as needed.

[2021-02-03 01:41] Honry commented on #1144
I have the access right now! Thank you all for the support!

[2021-02-03 12:56] foolip commented on #1144
That's great, thanks @jrobbins! Could it be documented directly on chromestatus.com too?

[2021-02-04 18:23] jyasskin opened #1156 "Edit page for deprecating a feature has "Link to existing feature" checkbox but no way to make the link."
When editing a Deprecate-and-Remove feature, for example https://chromestatus.com/guide/edit/5717324021628928, there's a checkbox for "Link to existing feature":

!["Link to existing feature" checkbox](https://user-images.githubusercontent.com/83420/106937541-bcb3d700-66d2-11eb-8ae3-e6fa2c47b86f.png)

However, when you click "Update", which goes to https://chromestatus.com/guide/stage/571732402162

[2021-02-04 21:57] cwilso commented on #1051
To be clear:

1. Web developer signals should be required
2. the Safari/Mozilla fields should point to  https://bit.ly/blink-signals for guidance
3. the web developer signals should point to goo.gle/developer-signals

[2021-02-04 22:44] chrishtr commented on #1051
Those 3 items LGTM!

[2021-02-05 08:44] tomayac commented on #1051
We can make it `https://goo.gle/developer-signals` (not `http:`) to save everyone a roundtrip.

[2021-02-09 21:55] jrobbins opened #1160 "Backfilling metrics data times out"
We sometimes miss a day of metrics data.  There is now logic to fill in missing days, but it takes a long time to run because it is doing 3000 separate queries to check for pre-existing data.

[2021-02-09 21:55] #1160 closed

[2021-02-09 22:18] carolrivero opened #1161 "Create a design doc for API Owners workflow"

[2021-02-09 22:18] jrobbins commented on #1139
Doc: https://docs.google.com/document/d/1SnwZZiWm9cmgnaaSL_8yusG2JMdYUpN5MP3Wtd-znL0/edit#heading=h.e320gm2emnd3

[2021-02-12 06:15] mrego opened #1162 "Draft emails don't include relevant timelines"
For example the following feature has *OT desktop/android start/end* fields set:
https://chromestatus.com/guide/stage/5280634094223360/3

But that info doesn't show up in the draft mail:
https://chromestatus.com/admin/features/launch/5280634094223360/3?intent

The timeline should be included in the intent to experiment template.

[2021-02-12 17:10] davidben opened #1163 "Support for switching accounts"
**Is your feature request related to a problem? Please describe.**
I accidentally selected my google.com account and now the doesn't seem to let me switch accounts to my chromium.org one.

**Describe the solution you'd like**
In Monorail, there's a "switch accounts" entry in the dropdown. If chromestatus.com could support something similar, that'd be great.

**Additional context**

[2021-02-12 18:53] jstenback commented on #1163
Yes, this is pretty terrible. The only way to switch accounts is to sign out, which signs you out of your @google.com account all together, then sign in with the right account. This has been discussed before, thanks for filing an issue on it. I believe Jason has a plan for how to approach this already.

[2021-02-12 23:19] carolrivero commented on #931
PRD shared today and in review.

[2021-02-13 04:29] davidben commented on #1163
I tried signing out earlier today and even then it didn't work. :-( Seemed like something (Google Sign-In?) remembered my selection.

Not a dealbreaker since, worst case, I can work around it with incognito. But it is somewhat annoying. :-) Glad to hear folks have been thinking about it!

[2021-02-16 21:10] majido opened #1164 "Dashboard shows an outdated name for CSS property `overscroll-behavior`"
The CSS property name is outdated in the dashboard: https://www.chromestatus.com/metrics/css/timeline/popularity/585

Instead of `scroll-boundary-behavior` it should be `overscroll-behavior`. Same applies to `scroll-boundary-behavior-{x,y}`.

This CSS property was renamed from scroll-boundary-behavior to overscroll behavior before launch but the dashboard is still showing the old name (See [here](

[2021-02-16 22:07] jrobbins commented on #1161
work in progress:
https://docs.google.com/document/d/1Kho12mIWmMsjINtyXcBUcH6Csn1G46I7krEKboguMis/edit#

[2021-02-16 22:10] carolrivero opened #1165 "Implement datastore model to represent an approval field of a feature"

[2021-02-16 22:11] carolrivero opened #1166 "Implement code to read the OWNERS file and populate the list of intent approval field allowed approvers"

[2021-02-16 22:12] carolrivero opened #1167 "Add "Approvals" button to Guide UX process overview page and implement web components for display and editing of approval values"

[2021-02-16 22:12] carolrivero opened #1168 "Implement datastore models for review comments"

[2021-02-16 22:12] carolrivero opened #1169 "Implement a UI for posting comments on approval fields, and viewing the log of previously posted comments"

[2021-02-16 22:12] carolrivero opened #1170 "Implement email notifications for approval comments"
When a user posts a comment via the gate column, an email notification with the author and text of the comment should be sent to the same people who would get a notification of a vote.

[2021-02-16 22:12] carolrivero opened #1171 "Implement UI fields for editing approval values, including 3 LGTM use case"

[2021-02-16 22:12] carolrivero opened #1172 "Implement detection of new intent threads on blink-dev and matching them feature entries"

[2021-02-16 22:12] carolrivero opened #1173 "Implement autosave of comments as they are typed"

[2021-02-16 22:16] jrobbins opened #1174 "assignee:jrobbins"

[2021-02-16 22:16] #1174 closed

[2021-02-16 22:23] carolrivero commented on #1130
1. Confirm with API owners (through a survey) that the new functionality meets their needs
2. Address any blocking issues that prevent API owners from phasing out their spreadsheet (issues will be captured as dependencies for this epic)
3. Observe intent email  threads on blink-dev are being resolved through the tool

[2021-02-17 20:37] jpmedley commented on #1104
Josh,

Does this solution look good to you?

[2021-02-17 21:16] inexorabletash commented on #1104
Week, sorry, thanks for the re-ping. Don't be shy about doing that, I get/ignore a lot of github pings.

Yeah, this LGTM.

[2021-02-18 01:28] jpmedley commented on #24
Based on how html5please works now, it appears that this was implemented on Chrome Status.

[2021-02-18 01:28] #24 closed

[2021-02-18 01:30] jpmedley commented on #26
@jrobbins This would be useful. How hard is this to do?

[2021-02-18 01:40] jpmedley commented on #33
Similar enough to #26 to merge with it.

[2021-02-18 01:40] #33 closed

[2021-02-18 01:43] jpmedley commented on #35
It looks like this was completed. I don't know when.

[2021-02-18 01:43] #35 closed

[2021-02-18 01:54] jpmedley commented on #114
Because Edge has been based on Chromium for several years, there's now no data to import.

[2021-02-18 01:54] #114 closed

[2021-02-18 01:57] jpmedley commented on #125
Chrome Status data has long been available in JSON via an endpoint. To reduce the support burden, filter by missing docs/samples is best done by the client of said data.

[2021-02-18 01:57] #125 closed

[2021-02-18 01:58] jpmedley commented on #169
It appears that the site redirects from http to https.

[2021-02-18 01:58] #169 closed

[2021-02-18 01:59] jpmedley commented on #170
@jrobbins Do you know if this has been done?

[2021-02-18 02:01] jpmedley commented on #208
This has been fixed:

![image](https://user-images.githubusercontent.com/8204171/108294137-1fcd5100-714a-11eb-86a4-3b6cb80c7774.png)

[2021-02-18 02:01] #208 closed

[2021-02-18 02:09] jpmedley commented on #220
I can't duplicate this and given its age probably won't be able to.

[2021-02-18 02:09] #220 closed

[2021-02-18 02:11] jpmedley commented on #223
This looks like it was fixed.

[2021-02-18 02:11] #223 closed

[2021-02-18 02:17] jpmedley commented on #230
Chrome Status is becoming a wizard to the launch process itself. The problem now is keeping the launch process instructions in sync with Chrome Status.

[2021-02-18 02:17] #230 closed

[2021-02-18 02:22] #290 closed

[2021-02-18 02:24] jpmedley commented on #302
@jrobbins This appears to still be true.

[2021-02-18 02:26] jpmedley commented on #304
@jrobbins This still appears to be true.

[2021-02-18 02:28] jpmedley commented on #305
The headings in question are no longer part of the interface.

[2021-02-18 02:28] #305 closed

[2021-02-18 09:06] foolip commented on #220
I can confirm this no longer reproduces.

[2021-02-18 16:07] jpmedley commented on #1104
@jrobbins Before I update this, are we emailing from within the tool yet? I thought we were.

[2021-02-18 17:02] jrobbins opened #1175 "Unicode error when detecting progress for tag_review field"
On processes.py line 449 we call return feature.tag_review, but then on guide.py line 174 we do str(detected) which can cause an exception if the string contains unicode characters such as a smart quote.
UnicodeEncodeError: 'ascii' codec can't encode character u'\u2019' in position 37: ordinal not in range(128)

A work-around for now is to edit the offending string in Cloud Console's Datastore pag

[2021-02-18 20:14] jpmedley opened #1176 "'Experimental Timeline' field can't be edited"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
The end of the origin trial was moved for this: https://www.chromestatus.com/feature/5702310124584960

The 'Experimental Tim

[2021-02-18 20:45] jrobbins commented on #1176
The "experimental timeline" field was the old field that was used before we added the specific start and end fields.  It is only shown for features that had that old field filled in before we added the new fields.  I wanted to show it as a reference so that old information was not lost.   But, I could see how it could be confusing if it contradicts the values shown in the other fields.

How about

[2021-02-19 15:13] jpmedley commented on #1176
Can it be hidden on new entries so we don't have this problem in the future?

[2021-02-22 16:14] jpmedley commented on #1045
Additionally, this feature needs to update the check item on the main page.

![image](https://user-images.githubusercontent.com/8204171/108736017-0af41300-74e6-11eb-8333-2598d5fb2119.png)

[2021-02-22 16:16] jpmedley commented on #1156
@jyasskin ,

Thank you for the nudge. This is one of several pieces of additional functionality we have yet to address. This duplicates #1045, which covers the issue more broadly.

[2021-02-22 16:16] #1156 closed

[2021-02-23 18:33] demansanaallan opened #1178 "Security and User Friendliness of Chrome OS, Chromium OS, etc"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Cli

[2021-02-23 18:39] demansanaallan commented on #1178
How secure really is Chromium OS and the rest...It was said that Chromium OS and it's successful child (Google Chrome OS) benefitted from the inherent Security plus it's own engineered security (boxes [chromebook and the like]) of the rest of the browsers and tools that connect to the WWW?

I tried Wind00wz and i can dissapointlly say, no that one is purely property and security blah blah that eat

[2021-02-23 19:36] jstenback commented on #1178
It's not entirely clear what issue you're talking about here, but it doesn't sound like this is not about something being broken in chromestatus.com. Unfortunately this issue tracker is for the https://chromestatus.com website, not Chrome the browser or Chrome OS. Please file issues with Chrome itself at https://crbug.com/new

[2021-02-23 19:36] #1178 closed

[2021-02-23 21:09] jrobbins opened #1179 "Implement a simple JSON API base class for API handler classes"
We will need some simple REST API handlers for upcoming UI functionality.

[2021-02-23 21:10] jrobbins opened #1180 "Implement API handlers for review comments"

[2021-02-23 21:11] jrobbins opened #1181 "Implement API handlers for approval values"

[2021-02-23 21:11] jrobbins opened #1182 "Implement API handlers for autosave"

[2021-02-23 21:17] jrobbins commented on #1139
This doc is done, but I think that I need to revise the UI to avoid repeated navigation in and out of the feature editing page.

[2021-02-23 21:20] jrobbins commented on #1161
This is mostly done.  Remaining parts are the intent detection functionality and the search queries.

[2021-02-23 21:25] jrobbins opened #1183 "Implement three query terms for approvals"

[2021-02-23 21:25] jrobbins opened #1184 "Add navigation links to new query terms"

[2021-02-23 21:55] jrobbins commented on #1114
This change was reverted.

[2021-02-23 21:55] #1114 closed

[2021-02-23 21:56] #1072 closed

[2021-02-23 21:57] jrobbins commented on #846
This query was rewritten a few weeks ago.

[2021-02-23 21:57] #846 closed

[2021-02-24 08:30] demansanaallan commented on #1178
I don't know if I'm just imagining things, but crashes and frequent and weird behavior of Chromebook (either configured as purely Chrome browser and Chrome OS alone--Chrome Dev Developer Acct-or Chrome Enterprise-Chrome OS and Corel Apollo--Chromium OS and/or Linux with Chrome Beta Browser blue logo or the red and orange one)...Alll are behaving erratically and configuring a satisfactory environem

[2021-02-25 15:53] jpmedley commented on #319
@jrobbins This seems like it's not relevant any more. Can I close it?

[2021-02-25 15:58] jpmedley commented on #325
I don't know when we fixed this, but we did.

![image](https://user-images.githubusercontent.com/8204171/109179935-40e00400-773f-11eb-9328-8fd16184e39f.png)

[2021-02-25 15:58] #325 closed

[2021-02-25 16:21] jpmedley commented on #367
The site no longer even functions as expected in this bug. The whole page scrolls together.

[2021-02-25 16:21] #367 closed

[2021-02-25 16:31] jpmedley commented on #370
Typical procedure would be to mark the newer issue as duplicate. However the one created by the current crew is are linked in a number of artifacts related to current plans.

Duplicate of #1172

[2021-02-25 16:31] #370 closed

[2021-02-25 16:49] jpmedley commented on #402
The resolution of this is some weird hybrid of 'Addressed'/'Won't fix'/'Duplicate'.

Regardless, this issue will soon be moot because of #764

[2021-02-25 16:49] #402 closed

[2021-02-25 17:36] jrobbins commented on #319
Correct, this is obsolete.

[2021-02-25 17:36] #319 closed

[2021-02-25 17:56] jrobbins commented on #170
It has not been done.  It seems like a good idea, and probably not too difficult.  I think we need to add a response header before we can submit the site to https://hstspreload.appspot.com.

[2021-02-25 17:59] jpmedley commented on #429
This has never been fixed.

![image](https://user-images.githubusercontent.com/8204171/109196125-2bbfa100-7750-11eb-83ea-781e5f0f5ba6.png)

[2021-02-25 18:00] jpmedley commented on #429
@jrobbins I've given this at least a P1 because of it's age.

[2021-02-25 18:02] jpmedley commented on #431
@jrobbins FYI

[2021-02-26 07:34] arskama commented on #1144
@jrobbins
I have the same issue as @Honry.
I was really pleased to see that there was a potential solution to our problem and that I could request edit access via email request.
I have sent 2 emails, one in the beginning of Feb and the other one yesterday. I still not have any edit access, though I do have a valid entry in chromestatus, which I need to update.

https://chromestatus.com/features/53

[2021-02-26 15:25] jpmedley commented on #1144
I apologize for failing to notice the request. You've now have access.
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Thu, Feb 25, 2021 at 11:34 PM Arnaud Mandy <notifications@github.com>
wrote:

[2021-02-26 16:20] arskama commented on #1144
@jpmedley, great! Thanks for granting the access.

[2021-02-26 17:12] jpmedley commented on #1144
I really apologize. It shouldn't happen for your coworkers. We rolled a new
system for requesting last month and I forgot to set up an inbox filter to
catch them.
Joe Medley | Technical Writer, Chrome DevRel | jmedley@google.com |
 816-678-7195
*If an API's not documented it doesn't exist.*

On Fri, Feb 26, 2021 at 8:20 AM Arnaud Mandy <notifications@github.com>
wrote:

[2021-02-26 19:39] jrobbins commented on #170
There's a little more work to do here.  I need to deploy this change and then submit our site to https://hstspreload.appspot.com.

[2021-03-01 03:15] jpmedley commented on #1162
@jrobbins On Friday, we discussed reworking how stages with relevant Chrome versions are handled in various stages of Web Status. It seems logical that intent emails should match. I've revised the title of @mrego's bug to reflect that.

[2021-03-01 15:46] jpmedley commented on #170
Sorry about that.

[2021-03-02 00:44] jrobbins commented on #170
No worries.

I have deployed and submitted the site now.

IIUC, it might be be awhile before chrome starts automatically using https.  When it does take effect, It is supposed to be transparent, so we might not notice unless we test it out.

[2021-03-02 00:44] #170 closed

[2021-03-02 15:13] jpmedley commented on #1176
That would work. Please make sure you check the display forms too.

![image](https://user-images.githubusercontent.com/8204171/109669292-d0fac080-7b26-11eb-970d-da934101a344.png)

[2021-03-03 23:22] jpmedley commented on #445
There are still 9 of them.

- [ ] alias-epub-work-break
- [ ] alias-epub-text-transform
- [ ] alias-epub-writing-mode
- [ ] alias-epub-text-combine
- [ ] alias-epub-text-orientation
- [ ] alias-epub-text-emphasis-color
- [ ] alias-epub-text-emphasis-style
- [ ] alias-epub-caption-side
- [ ] alias-epub-text-emphasis

[2021-03-03 23:23] jpmedley commented on #448
@jrobbins I'm not in a position to judge whether this is still valid.

[2021-03-03 23:26] jpmedley commented on #449
I don't know which PR fixed this, but it is live.

![image](https://user-images.githubusercontent.com/8204171/109886404-d9d9b800-7c34-11eb-8d51-16ec131f4ab9.png)

[2021-03-03 23:26] #449 closed

[2021-03-03 23:36] jpmedley commented on #469
Since Chrome Status is not supposed to be used in stead of whatever Google Docs templates are hanging around, I'm closing this.

[2021-03-03 23:36] #469 closed

[2021-03-03 23:36] #482 closed

[2021-03-03 23:37] #485 closed

[2021-03-03 23:59] jpmedley commented on #496
@jrobbins These still seem to be issues.

[2021-03-04 18:27] jrobbins commented on #406
The whole site was restyled several months ago.  The pages have consistent style now.  The top part of the individual feature page still shows only a subset of information about the feature, but there is an expandable section that shows all details.

[2021-03-04 18:27] #406 closed

[2021-03-04 18:44] jrobbins opened #1192 "The bug icon on the feature detail page doesn't work"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to any feature detail page
2. Click on the bug icon

**Expected behavior**
Opens a page on bugs.chromium.org.

Instead, it opens the same page that you are on because that link has no href attribute.

[2021-03-04 18:58] jrobbins commented on #1140
This is all done.

Our UI kind of averages out values so it is hard to notice missing data points, but https://mitigation.supply/ shows individual data points and you can see that no recent ones are missing.

[2021-03-04 18:58] #1140 closed

[2021-03-04 19:02] jrobbins commented on #26
I don't think this one is important enough to keep tracking.
I'm not planning on make small improvements to the existing feature list page because I have a KR to completely replace it.  I doubt that I will keep the inline expansion behavior in the new design, so this will be moot.

[2021-03-04 19:02] #26 closed

[2021-03-04 20:47] #1192 closed

[2021-03-04 22:25] jpmedley commented on #218
Requires a design process with a PRD and design documents. Adding it to the backlog, because we can't do it now.

[2021-03-04 22:32] #342 closed

[2021-03-04 22:32] jpmedley commented on #342
The focus of the site has changed, making this less of a priority.

[2021-03-04 22:34] jpmedley commented on #374
We need to relate metrics to features to display them on feature cards. Currently we don't have a way to do this.

[2021-03-04 22:44] jrobbins commented on #374
It would be great to surface or link to the metrics that are relevant to each feature.  To do that we would need a mapping in our DB from feature to metrics buckets (maybe a many-to-many relation).

Specifically, I can see this being useful for deprecation entries.

[2021-03-09 22:17] #1051 closed

[2021-03-09 22:17] #1179 closed

[2021-03-09 23:04] jrobbins commented on #934
Spec mentor is now working.

[2021-03-10 04:05] imskr commented on #1164
I would like to work on this! Please assign @majido

[2021-03-10 06:23] aavishkarmishra commented on #490
Hello @ebidel, I am interested in this project, as much I understand in this issue we have to add pagination to chrome version section.
I am uable to understand what you mean by **deep linking**.
![Screenshot from 2021-03-10 11-50-05](https://user-images.githubusercontent.com/58372823/110585724-2eca8080-8197-11eb-8bf6-bbbf9e18b4c3.png)

[2021-03-10 07:04] PawelBorkar commented on #490
Hi @ebidel ,

As it seems that the homepage is too long is there any specific length upto which the homepage should be and the remaining content would be forwarded to the next page.

[2021-03-10 07:59] akanksha-raghav commented on #1164
Can I work on this issue?

[2021-03-10 11:23] jalajcodes commented on #529
I'd like to work on this issue.

[2021-03-10 18:37] whoanuragverma commented on #1184
Hi I am Anurag. I would like to contribute in this repo for GSoC'21. Can you please guide me what are you expecting from this issue so that I can start working on it.

[2021-03-11 01:06] jrobbins commented on #490
I'm leaning toward "no", pagination is not needed for this page.

I am thinking that this page is strictly about release that are happening "soon".  So, the set of them is limited to just stable, beta, and dev.  Plus we might add fourth column for the enterprise stable release.

As for a paginated view of features coming over a longer future timeline, I think that the "All features" tab is page th

[2021-03-11 01:18] jrobbins opened #1196 "Paginate the "All features" list"
**Describe the solution you'd like**
Rather than the current single huge page of "All features", we should present a paginated list of, say, 100 feature entries at a time with "Next" and "Prev" links to move among pages.

The reason for this change is to make the site more scalable.  As the number of feature entries in our database has grown, displaying a huge list already became unmanageable.   W

[2021-03-11 01:18] jrobbins commented on #490
Here's the issue for the paginated feature list.

[2021-03-11 01:19] jrobbins commented on #490
Here's the issue for the paginated feature list.
https://github.com/GoogleChrome/chromium-dashboard/issues/1196

[2021-03-11 05:58] prashantpandey9 opened #1197 "Site must be responsive on mobile."
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '(https://ww

[2021-03-11 07:20] bhandarii7 commented on #1164
I am interested to work on this. please assign to me! @majido

[2021-03-11 07:26] shivamag00 commented on #302
Hi @drufball . I would like to take up and solve this issue as suggested by chromium's GSOC page.

[2021-03-11 12:24] codereverma opened #1198 "Not able to set up local dev env"
**Describe the bug**
I followed the entire guide from README about local setup but was not able to get it running. Firstly node-sass was not mentioned in dependencies which was throwing intial errors in gulp. I manually installed that.

But after that I am not able to run the dev server due to some missing python dependencies which I tried installing both on local as well global scope. But still n

[2021-03-11 19:11] abhishekrawe commented on #304
i want to work on this issue .

[2021-03-11 19:17] Lord-Aman commented on #302
I would like to work on this UI issue and to enhance the  UX  @drufball @jpmedley...

[2021-03-12 07:13] arjunrkaushik commented on #431
@RByers I would like to work on this issue

[2021-03-12 11:13] Mahboub99 commented on #304
I would like to work on this issue .

[2021-03-12 14:46] renancleyson-dev commented on #320
The issue is stale, and it was assigned to @clelland a long time ago. Can I work on it?

[2021-03-12 21:52] jrobbins commented on #1198
You are correct that we are currently stuck on python2 and trying to work through a long-overdue update.  It's a big problem and your help is appreciated.

I'm able to run the app locally (and of course it is running on app engine on the live site, and in Travis CI) by using the GAE SDK for Python 2.7.  When you download the GAE SDK, make sure that you select "2.7", which will take you to this pag

[2021-03-12 21:53] jrobbins commented on #1184
Now I'm thinking that this should be a section on a "My features" page instead of links.  I'll decide for sure soon.

[2021-03-12 22:07] jrobbins opened #1201 "Use Google Sign-In for authentication"
**Describe the solution you'd like**
Rather than continue to use the GAE 'users' library that is only available for python2, we need to use some form of oauth for python3.   Google Sign-In seems like a good choice that is available for both.
https://developers.google.com/identity/sign-in/web

**Additional context**
We have a bunch of handlers that use web 1.0 style web forms and we have a multi-pa

[2021-03-12 22:14] jrobbins commented on #1163
The "Switch accounts" command that I implemented for Monorail is strictly for GAE with Py2 because it uses the 'users' library.  ChromeStatus also currently uses that same library, but we are trying to switch to Google Sign-In instead.  I think that we could probably figure out a switch accounts command with Google Sign-In, but I don't want to implement that functionality for 'users' first and the

[2021-03-12 22:18] jrobbins commented on #1148
I think we need to extend the django email form field class to get it to do the right thing here.

Later versions of Django might handle multiple-emails better.  We'll find out at the time that we are able to upgrade to a newer django, but for now we are stuck on a version that supports Py2.

[2021-03-12 22:27] jrobbins commented on #1015
This code was reworked in 9cbc5345de68f825b82f653daf73ab42441eb8b9 and some subsequent changes.
The metrics pages seem much more reliable since mid-Dec 2020.

[2021-03-12 22:27] #1015 closed

[2021-03-12 22:54] jrobbins commented on #937
This was addressed in 87d0364022fd350a62c7c4663169980b0a7d5e56 and some subsequent commits.

All fields of the feature entry are now shown when you click the "Additional fields by process phase" section title.  The explainer link is there as part of the "Start incubating" stage.

[2021-03-12 22:54] #937 closed

[2021-03-12 22:54] #925 closed

[2021-03-13 00:37] jrobbins commented on #431
@arjunrkaushik go for it.

I believe that the solution would be to add the feature keywords to the temporary string that is built up in this function
https://github.com/GoogleChrome/chromium-dashboard/blob/main/static/elements/chromedash-featurelist.js#L201
In fact, motivation and some other fields of the feature entry should probably be in there too.

[2021-03-13 09:44] CrypticWizard commented on #1198
I also faced the "enum" error while starting the server with the exact same log as @codereverma but was able to work through it. The error is possibly caused by improper Cloud SDK setup or if it was installed with apt. The latter is highly likely.

The Cloud SDK component manager only works if you don't install the SDK through another package manager. The issue has been discussed [here](https://st

[2021-03-13 11:41] CrypticWizard commented on #1198
I'm also stuck at the "enum" error. Is there any way out?

[2021-03-13 13:48] whoanuragverma commented on #1198
@codereverma You are facing this issue because you've not installed app-engine-sdk properly. I followed the documentation and was able to start the dev server.

However, when I visit localhost:8080 `no module named jinja2.tests` error is thrown and I get localhost is currently unable to handle this request.
I manually installed Jinja2 at both local and global scope and even tried modifying inside

[2021-03-14 09:20] shivamag00 commented on #1198
@whoanuragverma @jrobbins, I am getting the same error. The `tests.py` file exists inside the `lib/jinja2` folder. However, due to some strange error, `defaults.py` inside the `lib/jinja2` cannot import `tests.py` located in the same directory

[2021-03-14 10:16] shivamag00 commented on #302
@jrobbins @jpmedley @drufball, I have tried to fix this issue and raised the following PR. Please review and let me know if any modifications are required
#1202

[2021-03-14 10:32] shivamag00 commented on #1198
There is a temporary fix though... Since, `defaults.py` could not import from `tests.py`, I copied the complete code inside `tests.py` to `defaults.py`. This is what the complete code of `defaults.py` looks like now -

`# -*- coding: utf-8 -*-
from ._compat import range_type
from .filters import FILTERS as DEFAULT_FILTERS  # noqa: F401
# from .tests import TESTS as DEFAULT_TESTS  # noqa: F401
from

[2021-03-14 13:01] CrypticWizard commented on #1198
Can anyone please help with this error? What I think is that, the scripts and the app engine are utilizing python2.7 but the packages installed by 'deps' script conforms to the default version while installing modules which is 3.8 in my case, thereby rendering the app engine incapable of recognizing the modules. I may be totally wrong here, Any help is appreciated.

Here's the log:

[code]

[2021-03-14 16:16] whoanuragverma commented on #1198
Finally, I can run the local development environment without any errors after days of debugging. I found out the following things:

- App Engine throws an error for Enum, Six, and other modules if you don't use the same package manager for installing App Engine SDK as the one which you used for installing Google Cloud SDK. For Example, If you have installed Google Cloud by apt then you should use

[2021-03-14 16:41] whoanuragverma commented on #304
@jpmedley I can make the chart horizontally scrollable on mobile using CSS because resizing it to fit makes it difficult to interpret what is being presented. However, this page has a lot of other problem on small screens, for example text doesn't wrap around view port width which is also easily accomplishable with CSS only. However, I am having trouble resizing the second chart as it comes from a

[2021-03-14 17:32] piyushjasaiwal commented on #1074
i would like to contribute to this

[2021-03-14 20:12] jrobbins commented on #1198
I have also hit the error with jinja2.tests.  And, I also worked around it by the hack of editing files under lib/jinja2.   I have spend some time looking into it, but It is a mystery to me as to what the root cause of that error is.  So, if anyone can figure it out, that would be a big contribution.

As shivamag00 wrote above, you could include the contents of tests.py in defaults.py.   My soluti

[2021-03-15 02:41] codereverma commented on #1198
Thank you @whoanuragverma @jrobbins @shivamag00. I can now run the local development environment. I am closing this issue now.

[2021-03-15 02:41] #1198 closed

[2021-03-15 08:05] Naman-12911 commented on #1074
I want solve this issue please assign me

[2021-03-15 08:55] MayankVir commented on #1148
Hi @jrobbins I tried to reproduce the bug bit it says Error 403, Access Forbidden. Below is the attached screenshot. Please let me know how to approach it in any other way. This is my first issue in open source community.

![image](https://user-images.githubusercontent.com/41983025/111127826-40969400-859a-11eb-97c3-7416cbc91c61.png)

[2021-03-15 17:17] MayankVir commented on #1148
I think we can use the Django's Multi Email field form to manage list of emails on one form. Below is the documentation of the library. If sounds good, then I want to work on this issue

https://pypi.org/project/django-multi-email-field/

[2021-03-15 17:19] MayankVir commented on #1201
Can I start working on this issue? @jrobbins

[2021-03-16 01:34] jrobbins opened #1204 "ImportError for jinja2.tests"
**Describe the bug**
When running the app, we get an error:
[code]

**To Reproduce**
1. `npm start`

**Additional context**
Possible root causes include
- A name conflict with the tests.py file and our tests directory or something else with the same name.  However, removing our tests directory did not seem to resolve the problem.
- Something changing the python import path?
- Somehow messing up re

[2021-03-16 01:34] jrobbins commented on #1198
FYI, I added a note about this to the README.md file.  And, I am tracking the root cause in #1204.

[2021-03-16 04:01] Naman-12911 commented on #1201
Hello sir I want to fix this issue please assign me.

[2021-03-16 04:02] Naman-12911 commented on #1197
I want to solve this bug please assign me

[2021-03-16 06:48] shivamag00 commented on #1204
I was investigating this issue. I can confirm that it is being caused due to the name `tests.py`. I renamed `tests.py` to `test.py` (without s) in `lib/jinja2` and the error was gone.

[2021-03-16 09:24] vishwjeet-singh commented on #320
hi @ebidel, I would like to work on this issue.

[2021-03-16 09:37] vishwjeet-singh commented on #1073
hi @jrobbins, I would like to work on this issue can you please explain how to start on this issue.

[2021-03-16 10:47] yuktibagrodia commented on #529
@ebidel can I work on it? if it's not done yet?

[2021-03-16 10:53] yuktibagrodia commented on #1204
I tried the same thing, as @shivamag00 said the error is gone by changing the name to test.py

[2021-03-16 13:44] shivamag00 commented on #1074
@jrobbins I have raised the PR - #1205 which should fix this issue. As I understand, solving issue was important so that the repository could be migrated to Python 3 from Python 2

[2021-03-16 15:14] jpmedley commented on #431
@arjunrkaushik Thank you for volunteering. Please link to this issue in your pull request.

[2021-03-16 17:56] CrypticWizard commented on #304
@jpmedley  @jrobbins Is there a way I can import the prod db to local dev db for testing to work on this issue? I am not able to do so since data is not available in devserver.  #318 was raised for the same. Also, its listed as TODO for @liyangguang in the `chromedash-timeline.js` file

[2021-03-16 19:18] #1074 closed

[2021-03-16 21:54] jrobbins commented on #1201
@Naman-12911 and @MayankVir, I don't want to assign the issue to either of you just yet.
You are welcome to start experimenting on how Google Sign-In could be used and send some PRs to show your initial progress.

I feel that I need to do the "As a prerequisite to switching ..." part myself.  I will start working on that today and I hope to have it committed in a few days.

Also, if you have any c

[2021-03-16 22:30] jrobbins commented on #1204
I can confirm that naming that file 'test.py' works.  Also, renaming it to 'testxs.py' works.

However, renaming it to 'tests2.py' or 'testsx.py' does not work.  I'm confused about that because I didn't think that python module names have any notion of matching a prefix of a module name.   So, maybe something in the app engine dev server is treating modules named "tests.*" specially.

[2021-03-16 23:11] jrobbins commented on #1204
OK, after a *lot* of poking around looking for things that do something with the string 'tests'.  I found a fairly obvious root cause.

Our skip_files.yaml had a rule to not upload anything named 'tests' to the GAE production environment, and that rule applies to dev_appserver as well.   I simply added a trailing slash to make it exclude directories named tests rather than any file or directory th

[2021-03-16 23:11] #1204 closed

[2021-03-16 23:30] jrobbins opened #1208 "'npm run coverage' does not work"
**Describe the bug**
We should be able to run 'npm run coverage' to get a unit test coverage report.

**To Reproduce**
Steps to reproduce the behavior:
1. 'npm run coverage'

It gives an error 'No module named coverage'.  So, we probably need to add something to requirements.dev.txt.

[2021-03-17 00:00] cwilso opened #1209 ""Ready for Trial" email doesn't include flag/instructions to try out feature"
**Guide UX Feedback**

When drafting a "ready for trial" email, the template does not include the "Flag name" field from the implementation section; it should, because we need to give instructions (in the RFT email) to HOW to try out the feature.  Perhaps we need more hooks for samples, etc. in the RFT as well, and we could probably drop some of the fields (like, TAG review, goals for experiment).

[2021-03-17 00:02] cwilso opened #1210 "It should be harder to send a Ready for Trial mail without flipping into "developer trials" stage, etc."
**Guide UX Feedback**
In looking at a feature that had had an RFT mail sent to blink-dev, I realized it was still in "start prototyping" mode; the dev hadn't flipped to "dev trials" stage.  We should think about how to fix that.

[2021-03-17 01:32] Naman-12911 commented on #1201
Ohk @jrobbins I will start working on today

[2021-03-17 03:30] whoanuragverma commented on #1208
I was able to run coverage, however none of the tests are passing. Please look into this.

[2021-03-17 10:55] hemcharan22 commented on #1208
"test:ci": "cross-env CI=true react-scripts test --forceExit --detectOpenHandles",

Explanation: The problem was coming from Jest not being able to close all processes. The above is a quick workaround. Ideally you should track the process that's stopping Jest from exiting.

found this in a stackoverflow post

[2021-03-17 11:02] MayankVir commented on #1201
Okay sure, Thanks

[2021-03-17 11:46] shivamag00 commented on #1208
@jrobbins I have raised the PR - #1212 which should fix this issue. I have explained all the errors and failures that were raised while running coverage [here](https://github.com/GoogleChrome/chromium-dashboard/pull/1212#issue-594635706)

[2021-03-17 14:51] codereverma commented on #1208
@shivamag00 If someone has already raised a PR for a specfic issue then if something's wrong or there is bug in their PR, you **review it and comment**, like "hey, i think this creates a new bug" or "hey you can include this in your PR this will make it better" not **MAKE A NEW PR** with their changes and some other stuff that you did.

Open Source is for <ins>**collaboration**</ins> not <ins>**co

[2021-03-17 20:23] shivamag00 commented on #1208
@codereverma , I sincerely apologise if I offended you in any way. I think there is some confusion and would like to clear the same. @whoanuragverma  himself asked to look into the reason behind failing tests. Since I have just started contributing to this project and there were many changes that needed to be done to fix that issue, I was not sure if that was the correct and the most efficient way

[2021-03-18 14:05] MissMwendwa commented on #1073
hi @jrobbins, in this particular problem, is there a bug or it is being developed from scratch?

[2021-03-18 14:11] MissMwendwa commented on #1073
Though in my line of thought, I am thinking that this can be implemented using javascript.

[2021-03-18 14:17] MissMwendwa commented on #1073
can this be done using the python programming language?

[2021-03-18 17:31] jrobbins commented on #1096
I think the right way to resolve this is to make the feature list paginated with a smaller number of items shown per page, and also to redesign the feature list items to be be smaller (getting rid of the expanding card behavior).  There would still be some scrolling to get to the footer, but it should not be excessive.  I prefer that over an alternative such as dedicating on-screen space for a flo

[2021-03-18 17:56] jrobbins commented on #302
I think what is needed instead is a responsive UI approach.   We have conditional CSS based on with width of the viewport, but in the case where the viewport is narrow, we currently hide the side navigation buttons.  The missing part of that implementation is that we should still offer those side-nav elements in a way that does not use up horizontal space on the page.  Two common approaches to tha

[2021-03-18 18:53] CrypticWizard commented on #1196
@jrobbins I wanted some advice here.

Since we are utilising the DB Client library, pagination can be implemented with [Query Cursors](https://cloud.google.com/appengine/docs/standard/python/datastore/query-cursors) in the new API which allows extraction of query results in batches. But the problem is, this library is [no longer recommended](https://cloud.google.com/appengine/docs/standard/python/

[2021-03-18 19:09] shivamag00 commented on #1073
@jrobbins Please close this issue also as it is solved by CL #1207 (Merged)

[2021-03-18 19:41] #1073 closed

[2021-03-18 21:10] shivamag00 commented on #302
@jrobbins Thank you for clarifying the two approaches. I have made a new PR #1220  in which I have followed the second approach.

[2021-03-19 03:57] codeit13 commented on #1155
I would like to work on this issue.
I will make the element appear in the correct tab structure and set the correct ARIA labels as well in order to make it accessible from keyboard keys like "Enter/Space".
@sersorrel @jrobbins  Can you please assign this issue to me?

[2021-03-19 13:38] aavishkarmishra opened #1221 "ebidel/lighthouse-ci does not exist"
**Describe the bug**
For setting up dev env when use `npm ci` id shows error, because` ebidel/lighthouse-ci `has be renamed to` ebidel/lighthousebot `

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'chromium-dashboard'
2. Run command `npm ci'
4. See error.
![Screenshot from 2021-03-19 19-06-08](https://user-images.githubusercontent.com/58372823/111788647-5384cd80-88e6-11eb-9c8e-e7ea88

[2021-03-19 21:05] mkruisselbrink opened #1225 ""Intent to Experiment" email does not include experiment timeline"
**Describe the bug**
Intent to Experiment emails are supposed to include a timeline for the proposed origin trial, as well as a section on "any risks when the experiment finishes". Neither of these sections seem to be part of the email generated by chromestatus.com.

[2021-03-20 04:55] tusharpandey13 commented on #1208
@codereverma please be specific of what is the actual issue here. The PR submitted by @shivamag00 seems to be genuine and their own. There is no need to be rude to others.

[2021-03-21 07:06] yuktibagrodia commented on #1197
@prashantpandey9 do you mean that the cards coming on the same line in PCs should be same for mobile view?

[2021-03-22 14:02] KMasaitis opened #1228 "chrome remote debug no longer works for android devices"
**Description:**
Remote inspection for android apps and webview is not working and displaying a blank dev tools window.

Tested on v89 and v91(canary)

**Steps to reproduce:**
Open chrome://inspect
Select Android device to inspect
Debug window opened, but no debug informationio displayed for selected device

[2021-03-22 14:04] shivamag00 commented on #1221
@aavishkarmishra Have you configured SSH key on github??

[2021-03-23 12:17] bisoladebiyi commented on #1197
Hello, i want to work on this. Could you please assign me

[2021-03-23 15:04] jpmedley opened #1233 "Docs field should support limited markdown"
**Is your feature request related to a problem? Please describe.**
For many years now, Chrome Status has provided an open-ended field for documentation. The public display card doesn't show very well what individual documents are. The card on the features/ page reduces it to something like "Doc 1".

![image](https://user-images.githubusercontent.com/8204171/112167450-b2c83380-8bad-11eb-83ac-d5e1f3

[2021-03-24 01:53] 435akashjha commented on #529
can I work on this issue and add form validation in the form

[2021-03-24 16:45] #1208 closed

[2021-03-24 16:54] clelland commented on #320
I'm not currently working on this project; @jrobbins is probably the most active right now; that's who I'd check with.

[2021-03-25 04:27] shivamag00 commented on #1201
UPDATE: @jrobbins has implemented 'As a prerequisite to switching...' part in #1238

[2021-03-25 17:47] khubaibalam2000 commented on #1148
Hi @jrobbins, I wanted to reproduce the bug, but it is showing me an error.
![1](https://user-images.githubusercontent.com/74249716/112519378-22137280-8dbc-11eb-989c-16432b60956c.PNG)

[2021-03-26 15:43] alokkumarak commented on #1197
hello sir,
please assign me this bug,
because i'm working on UI designing now,
so i can fix this bug for all kind of mobile phones and tabs.

[2021-03-26 16:01] alokkumarak commented on #900
hello sir,
please assign this to me.
I can convert all your SASS file to CSS.

[2021-03-27 08:20] CrypticWizard commented on #1013
@jrobbins This issue seems resolved now.

[2021-03-27 11:15] khubaibalam2000 opened #1240 "Milestone page list without scrollable sidebar"
**Is your feature request related to a problem? Please describe.**
While opening milestone pages on chromestatus.com, if you open web page of milestones below 50 or 60, then you have to again scroll to the top of the page. Sometimes, it is annoying, as you are continuously opening multiple milestone pages and again and again scroll to the top to see features list.

**Describe the solution you'd li

[2021-03-27 12:53] akgupta0777 opened #1241 "Rollup Error : Cannot read property 'add' of undefined"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
I am installing and setting chromium dashboard repo on my local system and after installation starting the build fails with

[2021-03-27 20:07] shivamag00 commented on #1241
@akgupta0777, I did a fresh installation of the repo on my local system today. I did not encounter any errors. Please try to install again by carefully following all the instructions from README.md. Also, verify that the you have installed GAE SDK for Python 2 as it no longer the default version

[2021-03-28 04:18] akgupta0777 commented on #1241
I have installed GC SDK as mentioned in the repo readme

[2021-03-28 09:22] khubaibalam2000 commented on #1240
I am willing to work on this issue.

[2021-03-29 01:53] hemcharan22 commented on #1148
hai @jrobbins , I looked at the website it asked me to sign in with one of my google account
![image](https://user-images.githubusercontent.com/77770865/112777220-493d9e80-905f-11eb-8a6f-a4531a84a18e.png)
i proceded to sign in with one of my accounts then its says you dont have permission to enter this site

![image](https://user-images.githubusercontent.com/77770865/112777321-8d30a380-905f-11eb-8

[2021-03-29 07:19] punitkcse commented on #445
I would like to take this up can you please provide me more details of how to move ahead

[2021-03-29 08:08] khubaibalam2000 opened #1242 "Proposed, In development, and Deprecated features are not showing on mobile view."
**Describe the bug**
On desktop, there is a side panel in which proposed, in development, deprecated features, and milestones can be seen. But this functionality is not showing on the mobile. The attached screenshot is of the desktop view of site, in mobile view, one cannot see this side panel.

![image](https://user-images.githubusercontent.com/74249716/112805058-8d946300-908e-11eb-9dbd-d1e387e65

[2021-03-29 21:21] jrobbins opened #1243 "Short milestone display is overly complicated and buggy"
When viewing the feature detail page, there is a short section listing milestones.  It has some logic to show certain milestone values and not others.   The rationale for what is shown is not clear and it seems buggy.

We should simply show all the milestone info that we have, with each value clearly labeled.

[2021-03-30 07:20] shivamag00 commented on #1155
@sersorrel @jrobbins, I have submitted the CL #1244 for solving this bug. As suggested by @sersorrel, custom element was not required to make the widget keyboard accessible. Adding a button element did the job.

[2021-03-30 11:49] akgupta0777 commented on #1241
I think this is caused by rollup or i think i need a rollup.config which I don't have

[2021-03-30 13:06] BennEntterprise opened #1245 "Pin Tabs to the Right, (L/R tab management)"
**Is your feature request related to a problem? Please describe.**
I hate getting derailed by a coworker. Whatever happens I need to open up a separate set of tabs, help solve the problem, then employ some "tab management" to metaphorically clean my workspace back to the state I had it when I was still working on my stuff.

**Describe the solution you'd like**
I would love the ability to Pin Tabs

[2021-03-30 20:11] khubaibalam2000 opened #1246 "Getting issue in starting backend server"
**Describe the bug**
Whenever I try to start backend server by "npm start", it shows me this error.
![npm start](https://user-images.githubusercontent.com/74249716/113049919-a94a5700-91bd-11eb-9b63-a720b982078c.PNG)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to chromium-dashboard folder in your directory.
2. Start server by 'npm start'.
3. It will stuck at "Starting rollup", and then

[2021-03-30 20:51] jrobbins commented on #1245
This sounds like a feature request for the chrome browser rather than anything related to the chromestatus.com feature tracking tool.  Please file your feature request at https://crbug.com/new.

[2021-03-30 20:51] #1245 closed

[2021-03-30 20:56] jrobbins commented on #1240
I'm planning on eventually removing the side nav altogether and instead using a set of filter widgets located above the list.  But, I am not ready to spec out that design yet.

[2021-03-30 20:57] jrobbins commented on #1228
This sounds like you are trying to report a defect in the chrome browser rather than the chromestatus feature tracking tool.  Please report your issue at https://crbug.com/new.

[2021-03-30 20:57] #1228 closed

[2021-03-30 21:00] jrobbins commented on #1221
lighthouse-ci is no longer being used.  I will remove that dependency.

[2021-03-30 22:29] #1221 closed

[2021-03-30 23:00] #1155 closed

[2021-03-31 05:34] akgupta0777 commented on #1246
Duplicate of #1241

[2021-03-31 05:58] akgupta0777 commented on #1241
@shivamag00 did everything but didn't fixed the problem Help please

[2021-03-31 06:56] akgupta0777 commented on #1246
@shivamag00 you can see the screenshot there is a windows icon there it simply means he is using windows OS

[2021-03-31 07:23] shivamag00 commented on #1246
@akgupta0777, Yes from the screenshot, it seems that he must be using Windows but these days, some developers tend to use Windows theme even on other OS.  Hence, I prefer asking.

However, on closer inspection of the screenshot, one can see directory paths which are similar to paths in Windows. So, it is Windows OS. Thank you for drawing my attention to the minute details inside the screenshot !!!

[2021-03-31 07:35] shivamag00 commented on #1241
Seems to be a problem with specific versions of [babel](https://github.com/babel/minify/issues/556). Which command did you use to install npm dependencies ?

[2021-03-31 07:36] akgupta0777 commented on #1241
Just npm ci

[2021-03-31 08:34] shivamag00 commented on #1241
I tried to install the repo again on another Windows PC. I still cannot reproduce this error.

However, I would recommend you to install the repo in a Linux Distro or in a Linux VM on Windows (I am using WSL2). There may be some additional changes that you may need to do if you run it on Windows. For example, `npm start` command will try to execute a bash script after building the project files (Y

[2021-03-31 10:42] akgupta0777 commented on #1241
I will try to install this on WSL 2 i have on my windows machine.

And the terminal which I am using on windows for running bash script is a bash terminal itself. I already worked a lot with Hyper terminal with bash scripts never encountered any error.

Thanks for commenting I will try on WSL 2

[2021-03-31 18:08] jpmedley opened #1247 "Site and JSON data need to support that origin trials are now supported in WebView"
The following needs to be done:

* The JSON needs to be updated with origin trial start and origin trial end fields for WebView.
* Cards need to be updated to display this information.

Support for WebView origin trials [is finished](https://bugs.chromium.org/p/chromium/issues/detail?id=1099836). The first WebView origin trial will likely star in 91 with [Trust Token API](https://www.chromestatus.

[2021-03-31 20:31] shivamag00 commented on #1246
@khubaibalam2000, follow the suggestion in #1241 which says to use Linux or VM or WSL 2 in windows for avoiding errors that may result due to incompatibility between Linux and Windows.

[2021-03-31 20:38] shivamag00 commented on #1246
Also, please let us know the versions of npm and node that you have.

[2021-04-01 03:58] akgupta0777 commented on #1241
I have the Latest versions of node and npm.

[2021-04-01 10:46] shivamag00 commented on #1148
@jrobbins, I have submitted a CL #1248 which should close this issue.

[2021-04-01 11:54] shivamag00 commented on #1148
@MayankVir @hemcharan22 @khubaibalam2000, you need to host the repo on local machine and use local database to reproduce the error.

[2021-04-01 16:05] khubaibalam2000 commented on #1246
Thank you @akgupta0777  and @shivamag00 for your concerns. Okay, now I am going to try to with Linux. And as you ask about versions @shivamag00 , currently, my npm version is 6.14.11, and node version is 14.16.0.

[2021-04-01 16:10] khubaibalam2000 commented on #1240
I worked on UIs and designs in my some of my past university projects. I have a design in my mind. Can I share that design with you?

[2021-04-01 23:19] mfreed7 opened #1251 "How can I delete a ChromeStatus entry?"
This is either not possible or not obvious. I need to delete this entry, as it is no longer being launched and has been cancelled:

https://www.chromestatus.com/feature/5741884322349056

Is this possible?

[2021-04-02 15:01] MayankVir commented on #1153
Hey @jpmedley Can I work on this issue if it is still open ?

[2021-04-03 11:36] shubhammittal588 commented on #1242
@media only screen and (max-width: 700px)
#drawer-column {
    display: none;
}
the display with (max-width:700) is set to none that's why it disappear in mobile mode. We can create a dropdown taking the id="drawer-column" setting min-width=699px
![Screenshot 2021-04-03 at 4 59 13 PM](https://user-images.githubusercontent.com/77587202/113477286-6c70af80-949e-11eb-8922-1d975dee27ba.png)

[2021-04-03 11:43] shubhammittal588 commented on #1242
correction:
max-width:700px with display: block; in a dropdown

[2021-04-03 21:23] VimukthiRandika1997 commented on #320
Hey!,  @jrobbins

I would like to work with this issue, I am very ego to deal with UI/ UX design as it is passion and it gives me continuous learning curve. So if I have a chance let me know, I do my best. Thanks.

[2021-04-04 14:00] nirawat2564 opened #1252 "Automatic transfer running on"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug*National id cards log*
A clear and concise description of what the bug is.

**To Reproduce*banzer*
Steps to reproduce the beha

[2021-04-05 04:30] shivamag00 commented on #1252
@nirawat2564 Please describe your issue...

[2021-04-05 13:39] jpmedley commented on #1153
We haven't made any progress and would appreciate the help. Thanks.

[2021-04-05 18:06] jrobbins commented on #302
The new links show up on the all properties pages, but there are also the animated properties pages and the all features pages.  So, we just need to add them there too.

[2021-04-05 18:17] shivamag00 commented on #302
Okay @jrobbins. I will add them there too.

[2021-04-05 18:23] jstenback commented on #1252
Closing as there's nothing actionable here. Please re-open this issue with a detailed explanation of what the issue with the site https://www.chromestatus.com is as needed.

[2021-04-05 18:23] #1252 closed

[2021-04-06 16:06] jpmedley opened #1257 "Chrome Owner Approval Needs to Accommodate Multiple Origin Trials"
**Is your feature request related to a problem? Please describe.**
Many items in the Chrome shipping process are approved only once: specifically, intents to ship, intents to deprecate, and intents to remove. Since most features have only one origin trial, it's easy to forget that they can be repeated.

**Describe the solution you'd like**
When Jason builds LGTM approval into Chrome Status, it nee

[2021-04-06 16:06] jpmedley commented on #1257
cc: @jpchase

[2021-04-06 17:45] jpmedley commented on #1210
The is the game of whack-a-mole I've been playing for the last year.

[2021-04-06 17:57] shivamag00 commented on #302
@jrobbins, I have raised CL #1256 which should close this issue.

[2021-04-06 20:43] #302 closed

[2021-04-08 19:32] mrego opened #1258 "Add Measurement field to intent-to-ship template"
The Blink API owners decided to add a Measurement field that should be in the intent-to-ship past year (see the [blink-api-owners-discuss thread](https://groups.google.com/a/chromium.org/g/blink-api-owners-discuss/c/Xs8QTKjlVEE/m/MpZgGa7BAgAJ)).

The field was added in the Chromestatus in #1017, but it's still not yet in the intent-to-ship template generated in Chromestatus. It should be included

[2021-04-12 14:09] khubaibalam2000 opened #1261 "Filtering issue on mobile view"
**Describe the bug**
In desktop view of website chromestatus.com, we have a direct filter method as shown below:
![chromium filter bug](https://user-images.githubusercontent.com/74249716/114404929-9a04d980-9bbf-11eb-9ea3-429197995569.PNG)

But in mobile view, there is not such type of filtering method.
![chromium filter bug mob view](https://user-images.githubusercontent.com/74249716/114407863-4b0

[2021-04-12 23:13] #1148 closed

[2021-04-13 01:03] jrobbins commented on #1198
After some recent changes on my local system, I also started getting the error message about not being able to import enum.  And, then an error about not being able to import protobuf.

I resolved it by running:
python -m pip install grpcio
python -m pip install protobuf

I will add a note about those commands to the README.md file.

[2021-04-13 15:59] jpmedley commented on #1251
@mfreed7 Changing the Chromium status to "No Longer Pursuing" is the recommended approach. @cwilso Is there any heuristic regarding when to delete versus when to change the status?

Regarding deleting, do you see this when you're logged in?

![image](https://user-images.githubusercontent.com/8204171/114583529-88aae400-9c36-11eb-835b-9ae8512aec2f.png)

[2021-04-13 16:21] cwilso commented on #1251
I would just change to no longer pursuing.  (I think the ACLs for deleting are different from creating and modifying; only some of us have access to delete, iirc.)

[2021-04-13 17:00] codereverma commented on #1198
Frankly speaking the codebase seems to be very outdated and a lot of stuff
seems to be "hacked" up to make it work. For example installing python
dependencies from npm seems bit weird to me.

If I had an opportunity to rewrite this code I'll be probably using
next.js/gatsby for the frontend because they super fast and super scalable.
For the backend firebase or graphql would be really amazing.

On

[2021-04-13 21:02] #1161 closed

[2021-04-13 21:02] #1139 closed

[2021-04-15 16:33] PandeySomya77 opened #1267 "A Code architecture in the code"
It will be good and understandable if we can put a systematic code architecture in the documentation or readme file this project.

[2021-04-15 16:34] PandeySomya77 commented on #1267
If you will allow , I can work on this issue.

[2021-04-15 18:45] shivamag00 commented on #1201
@jrobbins May you please explain how flask is being used with django ?

[2021-04-15 20:59] muadDweeb opened #1268 "Chrome 90 removed #intensive-wake-up-throttling Flag"
I noticed with the newest release of Chrome 90 that the flag for intensive-wake-up-throttling has been removed.

the registry settings to disable the setting are not working in Windows 10-
Software\Policies\Google\Chrome\IntensiveWakeUpThrottlingEnabled
key value of 0x00000000

Just curious if anyone knows what happened to the flag/setting in this new version of Chrome? I've searched the release n

[2021-04-16 09:43] shivamag00 opened #1270 "Flask in Django"
This may be very naive... The developer documentation says that the backend is Django. However, on browsing the code, one would realise that flask is also being used. This makes me think that Flask is being used in Django. Since, Flask is viewed as an alternative to Django, I just want to confirm - is Flask being used in Django here ?

@jrobbins

[2021-04-16 15:21] jrobbins commented on #1270
We use Django just for HTML templates and forms (see FlaskHandle.render() and guideforms.py).   The app used to use a combination of Django plus webapp2, now it uses Django plus Flask.  Flask is being used for all the request handlers (see basehandlers.py and all the code under api/ and pages/).

We don't have a huge amount of HTML templates, in part because we use webcomponents to generate a lot

[2021-04-16 15:25] jrobbins commented on #1270
And, one reason to continue with Django forms, at least for a while, is that we are frequently adding new DB fields to the Feature object and new UI form fields to guideforms.py.  Django makes it very easy to define forms that have one field per row.  It means that we can do that without editing HTML, and we can even have unit tests for the python code that builds those forms.  For example, we hav

[2021-04-16 15:32] jrobbins commented on #1270
Two big weaknesses of our use of webcomponents are:

1. We lack JS unit tests.  We could set up JS unit tests using jasmine and karma or some other JS libraries and tools.  We would need to use npx to run a browser to run the JS tests from the commandline.  Then, we could add that to Travis-CI (or whatever CI tool we might use instead.)

2. The data in our webcomponents follows no particular patte

[2021-04-16 16:32] npm1 opened #1271 "Surface "Intent to Implement and Ship""
**Is your feature request related to a problem? Please describe.**
I was attempting to go through the intent process in chromestatus for a smallish change: https://www.chromestatus.com/feature/5665918254317568. I wanted to figure out how to get an Intent to Implement and Ship but I haven't found it. Is it just not here somewhere? Or what did I miss?

**Describe the solution you'd like**
There shou

[2021-04-16 16:45] npm1 opened #1272 "Dev trials should be made optional and the editing guide needs to improve"
**Describe the bug**
In the feature editing view (I'm using https://www.chromestatus.com/guide/edit/5665918254317568) I see dev trials as the second step. I feel like this section is confusing to someone who does not understand the shipping requirements. A "dev trial" (why are we using a different name for what is probably Origin Trials? I'd really prefer if we stick to one name, but anyways, I gu

[2021-04-16 17:11] npm1 opened #1273 "Unclear where the explainer is populated from (for the Intent to Ship)"
**Describe the bug**
I created the Intent to Ship on https://www.chromestatus.com/guide/edit/5665918254317568 and it said "Explainer" "None". It would be great if it was a bit clearer where this field comes from. Is it from "Doc links" field or?

**Expected behavior**
I would like the field that populates the Explainer to be labelled as such. This is helpful when I'd like to do an inline explainer

[2021-04-16 17:16] npm1 opened #1274 "Copying the draft intent into a google doc creates a lot of whitespace"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**To Reproduce**
Steps to reproduce the behavior:
1. Copyt the body from https://www.chromestatus.com/admin/features/launch/5665918254317568/5?in

[2021-04-16 17:17] npm1 commented on #1274
I should note you can certainly "paste without format", but then you lose the bold text and such, which is not ideal.

[2021-04-17 11:10] shivamag00 commented on #1270
Thank You @jrobbins ... This really helps.

[2021-04-18 14:47] FarhanAliRaza commented on #529
@jrobbins hello sir I want to work on this for GSoC 2021. Can I work on this if it is not done?

[2021-04-19 16:57] shivamag00 commented on #1201
@jrobbins, I have raised CL #1275 containing my initial progress. I hope my approach is correct.

[2021-04-20 19:01] jyasskin opened #1276 "Hard to see what stage a feature is at"
**Describe the bug**

In https://chromestatus.com/feature/5702310124584960, it's hard to tell that the feature is entering origin trial in M91.

**Expected behavior**

The "Status in Chromium" section should probably mention this.

[2021-04-20 21:01] jrobbins commented on #1251
@mfreed7, the "Delete" link that jmedley mentioned is for site admins only.  So, cwilso's comment is your best answer, and in fact, it looks like the feature status was already set to "No longer pursuing".

[2021-04-20 21:01] #1251 closed

[2021-04-20 21:03] #930 closed

[2021-04-20 21:05] #916 closed

[2021-04-20 21:08] carolrivero opened #1277 "KR: Create a design doc for OT integration"

[2021-04-20 21:09] carolrivero opened #1278 "KR: Users can filter developer trials and origin trials"

[2021-04-20 21:15] carolrivero opened #1279 "KR: Improved field semantics and validation"

[2021-04-20 21:15] carolrivero opened #1280 "KR: Simple redesigned feature list page is the default for all users"

[2021-04-20 21:15] carolrivero opened #1281 "KR: Implement new site home page, my features page and simplified feature list page"

[2021-04-20 21:16] carolrivero opened #1282 "KR: Finalize design for new site home page and simplified feature list"

[2021-04-20 21:18] #1134 closed

[2021-04-20 21:50] cwilso commented on #1276
Probably, this should be two things - show the stage in the abbreviated feature page, and show the OT start/end milestones if it's in OT.

[2021-04-20 23:37] mfreed7 commented on #1251
Thanks!

[2021-04-21 19:53] #636 closed

[2021-04-22 22:41] domenic opened #1286 "Generated Intent to Ship emails include "API Spec" field"
**Describe the bug**
When generating an "Intent to Ship" email it includes "API spec: Yes".

**To Reproduce**
Edit any entry and generate an Intent to Ship

**Expected behavior**
This field should not be included. It was never part of the Intent to Ship template and it doesn't add valuable information for the API owners or other authors on blink-dev.

[2021-04-28 18:29] scheib commented on #1152
The old 'about' document is no longer even functioning:

![image](https://user-images.githubusercontent.com/386971/116454502-e897b200-a814-11eb-8c4e-b139ddf42b52.png)

[2021-04-28 20:36] jrobbins opened #1290 "Metrics "sample urls" list might not be accurate"
**Describe the bug**
The list of sample URLs in the "top sites" section seems like all random small sites, which is understandable if they are just a random sample.  However, checking with webpagetest.org does not seem to indicate that the listed sites actually use the feature for that metrics page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://chromestatus.com/metrics/featu

[2021-04-28 20:39] jrobbins commented on #1290
That section of the page was added in this commit
https://github.com/GoogleChrome/chromium-dashboard/commit/3e85c33ce05c1ef7fb442f806645ee2667826586

[2021-04-29 00:36] jrobbins commented on #1273
For a new feature incubation, the explainer comes from the "explainer links" field in the "Start prototyping" stage.

However, your feature entry type is just "web developer facing change to existing code".  According to the process doc, an explainer is not required:
https://www.chromium.org/blink/launching-features#:~:text=Web-developer-facing%20change%20to%20existing%20code%20(PSA)

I'll change

[2021-04-29 00:44] jrobbins commented on #1273
Note that for that feature type, there is a "Spec link" field in the first stage.  I think that an existing feature is assumed to have an existing spec rather than an explainer.  I realize that is not what you asked, I'm just noting why I think that an explainer is not required.

[2021-04-29 15:54] jrobbins commented on #1270
Closing this issue because I think that I answered your question.

I'll also note that it might be nice to phase out our use of Django and instead use Jinja2 templates.  However, we would need a convenient way to manage form generation.  That change is not as important as other things that we could be working on, like all aspects of the python3 upgrade.

[2021-04-29 15:54] #1270 closed

[2021-04-29 17:26] davidben opened #1294 "Middle-clicking links to timeline views doesn't work"
**Describe the bug**
Middle-clicking the progress bar links on https://chromestatus.com/metrics/feature/popularity doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://chromestatus.com/metrics/feature/popularity
2. Middle-click on a progress bar

**Expected behavior**
The timeline page opens in a new tab.

**Additional context**
If I need to look at a collection of fea

[2021-04-29 19:07] npm1 commented on #1273
Thanks for that clarification. I think explainer should always be required (even if inline, like I ended up doing in my intent). It is crucial to enable evaluating the change proposed. Looping in API OWNER @yoavweiss

[2021-04-29 22:48] jrobbins commented on #1152
We'll remove the link for now.  We can always add it back if there is a reason.

[2021-04-30 17:24] chrishtr opened #1298 "Clarify the 3-LGTM rule"
Currently, the standard is "3 LGTMs to ship, and no objections from an API owner". This needs to be made more clear in the documentation.

In addition, I think we need a small formal edit to say that, in the event there is not enough consensus to get 3 LGTMs and no objections, then there needs to be a mechanism to make a final decision, which should probably be a majority vote of the API owners. (

[2021-04-30 19:16] jpmedley commented on #1136
Duplicate of #1083

[2021-04-30 19:19] jpmedley commented on #1276
#1083 covers the latter.

[2021-05-01 07:19] shivamag00 commented on #1270
I will update the developer documentation with this info so that it could help new contributors in the future.

[2021-05-03 17:26] jrobbins opened #1303 "Highlight diffs in notification emails"
**Is your feature request related to a problem? Please describe.**
It can be hard to see what text changed in an update notification.  The notifications contain old and new text for each field that changed, but the specific words that changed within those field values can be hard to spot.

**Describe the solution you'd like**
We could use an HTML span with a pale red or green background to indicat

[2021-05-03 17:33] jpmedley commented on #1303
Making it easier to see what changes will improve the quality of data coming out of Chrome Status. This would be as small change with a big impact.

[2021-05-06 07:53] yoavweiss commented on #1273
A short explainer of what the web-facing change is required for an intent to ship.

That's for a PSA, which is significantly lighter weight, and destined at smaller changes which require no approval.

[2021-05-06 23:37] #1201 closed

[2021-05-07 07:17] shivamag00 opened #1312 "GOOGLE_SIGN_IN_CLIENT_ID"
**Is your feature request related to a problem? Please describe.**
Currently, the `GOOGLE_SIGN_IN_CLIENT_ID` is defined as a variable in `settings.py`. Since `http://localhost:8080` is not added as _Authorized JavaScript origins_ in GCP for the existing OAuth 2.0 Client ID, developers will have to change it everytime they test some functionality and change it back to the original one before they c

[2021-05-07 16:17] jrobbins commented on #1312
Leaving out localhost:8080 was my mistake since I use :8888.
I have added :8080.
Please try the default client_id now.

[2021-05-08 06:58] shivamag00 commented on #1312
Thank You @jrobbins. It am able to use the default client_id now.

[2021-05-08 06:59] #1312 closed

[2021-05-08 11:44] shivamag00 commented on #1075
Because of my limited experience, I am unaware with the term `data storage backend`. Hence, I assume that it means database. If this assumption is wrong, please let me know.

Just for the record, I am aware that as a pre-requisite to Python 3 upgrade, we need to replace our use of DB Client Library for accessing Cloud DataStore as mentioned in this Google Cloud [guide](https://cloud.google.com/app

[2021-05-10 01:02] khubaibalam2000 opened #1316 "Middle mouse click isn't working on links"
**Describe the bug**
The middle mouse button is use to open a link in the new tab. On https://chromestatus.com/features, there is a filter method on features whenever we click on a feature, all the features belonging to this category will be sort out and shown on the site.

![image](https://user-images.githubusercontent.com/74249716/117592957-f70a9580-b153-11eb-9751-d0c865088ebf.png)

But if we cl

[2021-05-12 16:24] shivamag00 commented on #1196
As a pre-requisite to Python 3 upgrade, we have to replace our use of DB Client Library ( compatible with Python 2 only ) with some other library that is compatible with both Python 2 and Python 3. Hence, you may like to follow #1075 and #1076.

[2021-05-12 20:41] jyasskin opened #1319 "Auto-update URLs and flag broken ones"
For example, https://chromestatus.com/feature/6173208034148352 uses http://dev.w3.org/csswg/css-align/ as its spec link, but that redirects to https://drafts.csswg.org/css-align/.

https://chromestatus.com/feature/4923613069180928 uses http://webaudio.github.com/web-midi-api/, but that's a 404. The correct link is [https://webaudio.github.**_io_**/web-midi-api/](https://webaudio.github.io/web-midi

[2021-05-13 00:43] jyasskin opened #1320 "Ensure specs are included in browser-specs by the time they ship"
**Is your feature request related to a problem? Please describe.**
The web community currently doesn't have a systematic way of ensuring that https://github.com/w3c/browser-specs/ includes all the specifications that are relevant to the web platform.

**Describe the solution you'd like**
Chrome Status should warn a developer and the API owners if they send their Intent To Ship email without their

[2021-05-13 07:26] shivamag00 commented on #1096
UPDATE:-  See #1196 for updates on implementing pagination

[2021-05-13 08:12] shivamag00 commented on #1112
@guest271314, You need to have access to create a feature. The [Launching Features](https://www.chromium.org/blink/launching-features) page has been updated with this info and says:-

[2021-05-13 08:20] shivamag00 commented on #1112
@guest271314 @jrobbins, I hope this issue can be closed now

[2021-05-13 08:43] shivamag00 commented on #1163
UPDATE: #1201 has been closed now as ChromeStatus is now using Google Sign In.

[2021-05-13 08:48] shivamag00 commented on #1240
Just For the record, #1113 contains a proposal for replacing left hand navigation.

[2021-05-13 21:26] chrishtr opened #1321 "Intent to experiment email does not include the milestone ranges for the experiment"
Most of the fields are copied into the generated email, but it seems the milestones are not. Compare:

https://groups.google.com/a/chromium.org/g/blink-dev/c/UgZAAElUWzU

with

https://www.chromestatus.com/feature/5193009714954240#details

[2021-05-14 09:54] shivamag00 commented on #1075
This [link](https://cloud.google.com/datastore/docs/upgrade-to-firestore) says that all `Datastore` instances will be gradually updated to `Firestore in Datastore` Mode starting this year.

Also, this [link](https://cloud.google.com/appengine/docs/standard/python/migrate-to-python3/migrate-to-cloud-ndb#key_differences) suggests that there are only minor syntax changes between App Engine NDB (we ar

[2021-05-14 19:04] jpmedley commented on #1320
+1

An accurate data set would be useful in MDN work.

[2021-05-14 20:29] jpmedley commented on #1321
+1

[2021-05-15 07:28] #1112 closed

[2021-05-18 23:17] shivamag00 commented on #1075
@jrobbins, please let me know what other options for storage backend we can consider.

[2021-05-19 07:48] shivamag00 commented on #1035
@jpmedley @jrobbins, this issue seems to be solved. Please close this issue if it is so.

[2021-05-19 17:27] #1035 closed

[2021-05-20 20:16] jpmedley opened #1328 "Rendered card shows "Editors Draft" when no link is present."
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
The underlying form provides a field to hold a link to the editors draft of a spec. This link is presented on the public car

[2021-05-20 21:24] cwilso opened #1329 "Process: Clearly define the roles and responsibilities for API OWNERS"
Clearly define the roles and responsibilities for API OWNERS, and link that into the Launching features page, as well as the FAQs. Use consistent language about what the API Owners ARE.

[2021-05-20 21:25] cwilso opened #1330 "Clearly highlight required artifacts/outputs/gates through the process."
Clearly highlight required artifacts/outputs/gates through the process. That way, even if one doesn’t read through all the text, they can use this as a checklist to ensure they are following the necessary steps.

[2021-05-20 21:26] cwilso opened #1331 "UX and Process: Clarify to use the chromestatus generated emails, not email templates"
[P1] Clarify whether to use the intent template or the chromestatus auto-generated intent emails. Apply to all references to the intents.

[2021-05-21 07:07] mrego commented on #1321
This has been reported in #1162.

[2021-05-21 07:12] mrego commented on #1225
This is similar to #1162.

[2021-05-21 07:15] yoavweiss commented on #1321
^^ @cwilso @jrobbins

[2021-05-21 14:30] #1321 closed

[2021-05-21 18:07] #1240 closed

[2021-05-21 20:22] chrishtr commented on #1162
Also, the "any risks when the experiment finishes" part is missing.

[2021-05-21 20:23] chrishtr commented on #1225
Closing in favor of #1162

[2021-05-21 20:23] #1225 closed

[2021-05-24 16:49] jpmedley commented on #1113
Sorry for the late reply. We currently have two sets of state values: process stage and implementation status (status in Chromium).   There's currently design work occurring around these. Jason and Panos may feel differently, but I'm not sure this is the best time to jump on this issue.

[2021-05-25 21:49] #1242 closed

[2021-05-26 14:15] davidben opened #1336 "Titles for edit pages should include the name of the feature"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
Edit pages for features do not include the feature name.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https:/

[2021-05-27 18:54] jrobbins opened #1338 "Add a boolean field to indicate a feature affects //chrome"
**Is your feature request related to a problem? Please describe.**
Some features don't just affect the content area of a web browser.  When such features are adopted by other browsers, they may need to make changes to the corresponding aspects of their product UI.  ChromeStatus should have a field to identify such features.

**Describe the solution you'd like**
A boolean field in the chrome implem

[2021-05-28 11:55] shivamag00 commented on #1336
Just to confirm that I understood the bug properly, do you mean to say that _**'Edit pages for features do not include the feature name'**_ in the web page title which is displayed on the chrome tab ?

[2021-05-28 22:02] #1336 closed

[2021-05-29 05:32] shivamag00 commented on #1135
Duplicate of #1059

[2021-05-31 23:16] jimmywarting opened #1342 "Use datalist instead"
On https://chromestatus.com/metrics/feature/timeline/popularity you have a very long list of select options
It's not so search friendly...

![Skärmavbild 2021-06-01 kl  01 09 46](https://user-images.githubusercontent.com/1148376/120248207-7fbdb280-c276-11eb-94e6-c240f1631f5c.png)

Change it to:
[code]
and you will get a input with both a drop down and a search field combo
![Skärmavbild 2021-06-0

[2021-06-01 16:19] jrobbins opened #1343 "Page elements too wide on mobile"
**Describe the bug**
The feature cards and metrics charts do not have their width set appropriately on small screens.  This causes a horizontal scroll bar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the feature list on a mobile device or in an emulator
2. Likewise for a metrics chart.

**Expected behavior**
All elements fit within the width of the page, so there is no horizontal s

[2021-06-02 16:54] shivamag00 opened #1345 "Navigation Links appear twice"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
As illustrated below, the navigation links for timeline and stack rank for `All Properties` & `Animated Properties` (CSS) an

[2021-06-02 17:55] #1345 closed

[2021-06-03 22:28] cwilso commented on #1329
All of the Frequently asked questions on the Launching features page currently reference the role of API Owners in some form. We mention a few times what API Owners are NOT, like “They are not necessarily leads or overseers of any of the code.” and “ they are not gatekeepers for everything”. However, I can’t find any definition of what they ARE, or the clearly defined roles and responsibilities of

[2021-06-07 20:43] jrobbins commented on #1343
I started work on this by trying to reproduce the problem again and found that I could not.    So, maybe part of this changed with the recent changes to the nav elements in our app.  Or, maybe there is some difference in behavior in Chrome 91.

What I see now is that our content fits and there is no horizontal scrollbar.  But, there is not enough room for padding on the right side.

![image](https

[2021-06-10 21:47] cwilso commented on #1286
@jpmedley I think this is the "docs checkoff" field.  Is that correct?  Can we remove this from the Intent mail?

[2021-06-16 17:54] jrobbins commented on #1342
I think to make the change we would need to change the <option value="..."> attribute to be the name of the UseCounter.  That would avoid displaying the UseCounter (bucket) numbers.   And, the JS and/or python code would need to be changed to accommodate that.   We would still need to support existing URLs that contain the bucket ID number.

[2021-06-16 17:57] jrobbins commented on #1282
We have sent a request to Chrome UX to review.  However, they normally focus on UX that is part of the browser itself rather than associated tools.  Next step will come by June 25, 2021.

[2021-06-16 18:09] jrobbins commented on #1274
On testing this, I see that the exact range of text selection makes a big difference.  If the selection is only the email body text, then there is no extra whitespace when pasted.  If the selection includes a little bit of the card markup on that page, then the user gets the extra whitespace.

Some posible solutions:
+ Implement a "Copy message to clipboard" to do the right thing for users with ju

[2021-06-16 18:22] jrobbins commented on #1268
Some of our feature entires have flag_name, but that field was recently added so we have not tracked it for all features.  I am not able to answer your question with any information on chromestatus.com.

You might try asking on https://groups.google.com/a/chromium.org/g/chromium-dev

[2021-06-16 18:23] #1268 closed

[2021-06-16 18:26] jrobbins commented on #1261
I'm planning on redoing the entire UI for filtering.  We won't use the category links.  Instead we will have some filtering widgets displayed at the top of the list.

I'm going to close this issue now, but I will keep in mind that the new filtering widgets need to work on mobile.

[2021-06-16 18:26] #1261 closed

[2021-06-16 18:32] jrobbins commented on #1241
I think that we are unlikely to be able to help you resolve this.  If you are able to resolve it on your own, please note it here.

[2021-06-16 18:32] #1241 closed

[2021-06-16 18:33] #1152 closed

[2021-06-16 18:35] #1111 closed

[2021-06-16 18:40] jrobbins commented on #1343
I'm thinking that rather than make any changes to this right now, I will first redo the list view to simplify it down to just the feature names being links to the feature detail page.  That change is slated for UX review now.  When implementing that, I will make sure to test on mobile.

[2021-06-16 18:40] #1343 closed

[2021-06-16 18:50] jrobbins commented on #1168
This was done in #1333.

[2021-06-16 18:50] #1168 closed

[2021-06-16 18:52] shivamag00 commented on #573
UPDATE: The About link has been removed as mentioned in #1152

@jrobbins @JamesCatt , please close this issue

[2021-06-16 19:08] shivamag00 commented on #668
@jrobbins @jstenback, this issue seems to be solved. Please close this issue as well.

[2021-06-16 19:38] jpmedley commented on #1286
I have no memory of this being the "docs checkoff". If it were I'd think I'd have objected to the name "API spec". I have issue with removing this.

[2021-06-16 21:01] jimmywarting commented on #1342
dose number in the screenshots just poped up cuz i just simply switched the `<select>` to be a `<datalist>` in devtool
a unnecessary byproduct if you will. don't remember where they came from or what they stands for

[2021-06-16 21:22] jrobbins commented on #1075
I think that this is the most practical upgrade path and that your PRs are on the right track.  Let's consider the research part of this work finished.

[2021-06-16 21:22] #1075 closed

[2021-06-16 21:23] jrobbins opened #1358 "Research and upgrade to a new email sending service"
Currently we send emails using google.appengine.api.mail and detect bounces using an app.yaml setting and a handler in internals/notifier.py. These dependencies are available in Py2 on GAE, but not Py3.

The recommended upgrade path is to use an external provider:
https://cloud.google.com/appengine/docs/standard/python/migrate-to-python3/migrating-services#mail

We will need to research these opti

[2021-06-16 21:34] jrobbins commented on #1358
Currently we send emails using `google.appengine.api.mail` and detect bounces using an app.yaml setting and a handler in internals/notifier.py.  These dependencies are available in Py2 on GAE, but not Py3.

The recommended upgrade path is to use an external provider:
https://cloud.google.com/appengine/docs/standard/python/migrate-to-python3/migrating-services#mail

We will need to research these o

[2021-06-16 21:37] jrobbins opened #1359 "Upgrade to cloud logging"
Apparently, we need to make some changes to allow logging to work in Py3 under appengine.
https://cloud.google.com/appengine/docs/standard/python/migrate-to-python3/migrate-to-cloud-logging

[2021-06-16 21:45] jrobbins commented on #1359
Testing this change sounds tricky because the docs say that only way to test is to run as a Py3 app.  Our app (as a whole) does not yet run under Py3, so  that can't happen.  But, maybe we could just get the requirements.txt and logging client setup calls in place for now with testing to come later.   Or, we could try to temporarily make a small subset of the app run under Py3 just to test logging

[2021-06-16 21:55] jrobbins opened #1360 "Get our continuous integration (CI) system working again"
The old Travis-CI setup that we inherited has stopped working.

Research the options available today (e.g., GitHub Actions, Google Cloud Build, Travis, Circle, etc.)  choose one and get it working.

Right now we only use CI to run unit tests for github PRs.    In the future, we will also want to run javascript unit tests for PRs.   And, of course, we need Py2 for now and Py3 later, ideally with th

[2021-06-16 23:12] jrobbins opened #1361 "Implement a milestone-range form field in django"
The origin trail milestones are really ranges of milestones from when the OT starts until it ends.  We store these values as separate fields in the datastore, e.g., ot_milestone_desktop_start and ot_milestone_desktop_end, which is fine.

In the UI, we use django forms to easily generate a wide variety of forms that are easy to edit (in guideforms.py) and test with python unit tests.  However, the

[2021-06-18 21:01] TimothyGu opened #1366 "No dropdown for standardization status"
**Describe the bug**
When editing a feature, one cannot change the standardization status of the spec.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://chromestatus.com/feature/5658622220566528. Under "Specification" is "Editor's draft".
2. Now go to https://chromestatus.com/guide/editall/5658622220566528 as a Chromium contributor. There is no way to change the status of the spe

[2021-06-19 05:39] GrisGrisMan86 opened #1368 "Play Store will not Update phone to newest release"
My browser says that there a newer version available, the 6/16 release. I go to Google Play Store to update, and when I hit update, it says pending for a split second and then instead of downloading or installing, it goes back to button saying update. I have the space, so what gives. It's a Samsung Galaxy A11 if that makes a difference. Updated fine on my laptop.

[2021-06-21 19:05] #573 closed

[2021-06-23 23:24] dbaron opened #1370 "editing UI doesn't show up correctly right after signing in"
**Describe the bug**
When I signed in to chromestatus this morning, for the first time, using my chromium.org account, I didn't see any UI for how to edit a page.  I emailed a colleague asking if I was supposed to see such UI, said I was, and described what it looked like.  When I reloaded the page I was on, I was then able to see the editing UI and edit it.  But it's not clear to me why this UI d

[2021-06-23 23:30] dbaron opened #1371 "choosing "Edit all fields" reverts changes already made to the metadata fields"
**Describe the bug**
If I'm editing the metadata for a feature, and then realize I need to edit other fields, and click "Edit all fields", this unexpectedly *reverts* the changes I've already made to the metadata.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.chromestatus.com/feature/5647948924846080 while logged in to an account with editing permission
2. Click on the bl

[2021-06-24 09:03] shivamag00 commented on #1360
FIY, the CI will require running DataStore Emulator for running the tests.

[2021-06-25 21:31] jstenback opened #1372 "The Debuggability section is missing from generated intent message text"
**Describe the bug**
When generating an Intent to Experiment message using chromestatus the Debuggability information is not included.

**To Reproduce**
Steps to reproduce the behavior:
1. Load https://chromestatus.com/admin/features/launch/5740655424831488/3?intent=1
2. Notice how there's no Debuggability section in the generated page.

**Expected behavior**
Include the provided debuggability inf

[2021-06-26 12:55] juwain opened #1374 "Border-radius use counter stat shows >100% of page loads"
There is probably an issue with data of the border-radius property [rank usage metrics](https://chromestatus.com/metrics/css/popularity). In the middle of the 2018 stats shows 109% of page loads.

![55005FCF-F6C3-40DC-89C2-DDEB6A04FBC9](https://user-images.githubusercontent.com/928081/123513252-cdbab000-d694-11eb-98d3-db2890889cdf.jpeg)

Steps to reproduce the behavior:
1. Go to https://chromestat

[2021-06-28 13:55] Subhradeep10 commented on #1342
Can I work on it?

[2021-06-28 13:55] Subhradeep10 commented on #1342
@jimmywarting Can I work on it?

[2021-06-28 14:13] jimmywarting commented on #1342
@Subhradeep10 ofc! Go ahead.

I just submitted a idea, I have no knowledge/experiences in this repo

[2021-06-29 04:53] shivamag00 commented on #1076
@jrobbins, please close this issue.

[2021-06-29 16:56] foolip opened #1377 "Intent to Ship email cannot be copied into Gmail without including the border"
https://groups.google.com/a/chromium.org/g/blink-dev/c/jFvTG8AJfnQ is an intent I generated using the tool. Note the gray border around the whole email. This is the result of copy-paste from https://chromestatus.com/admin/features/launch/4818803819020288/5?intent=1 which looks like this now:
![image](https://user-images.githubusercontent.com/498917/123837888-a588b680-d90b-11eb-9e94-434e34c014c3.pn

[2021-06-29 16:58] foolip opened #1378 "Intent to Ship emails do not include links to web-platform-tests"
https://groups.google.com/a/chromium.org/g/blink-dev/c/jFvTG8AJfnQ is an intent I generated using the tool. In the tool I have a link to https://wpt.fyi/results/speech-api/idlharness.window.html as "Web Platform Tests Description" but this does not get included in the generated email.

I added it manually to the email before sending.

[2021-06-29 16:59] foolip commented on #1378
Why is this important? As an API owner, the bare claim that something is fully tested in WPT is not providing much useful information. The links to the tests are important to check that claim, and without the links one has to track down the tests manually, perhaps by using `git grep` in a WPT checkout.

[2021-06-30 21:37] chasephillips opened #1379 "chromestatus shows consensus as other browsers (eg. Firefox, Edge, Safari), I2Es show consensus as browser engines (eg. Gecko, WebKit)"
**Describe the bug**
chromestatus shows consensus as other browsers (eg. Firefox, Edge, Safari) while I2Es show consensus as browser engines (eg. Gecko, WebKit).  Including Edge in one implies that MS consensus is useful but excluding it in I2Es indicates that we're only interested in *other* browser engines.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://chromestatus.com/feat

[2021-07-01 11:00] hashseed commented on #1372
Ideally this section should also include https://goo.gle/devtools-checklist, which offers a lot of detail on how to think about debuggability from the perspective of the intent author.

[2021-07-01 11:02] mathiasbynens commented on #1372
https://github.com/GoogleChrome/chromium-dashboard/pull/1375 addresses this aspect (but it still keeps the field optional).

[2021-07-01 16:24] d-01 commented on #1013
The issue resolved. Confirmed just now in:
- [x] Firefox 88.0
- [x] Chromium 84.0.4147.135

[2021-07-01 16:24] #1013 closed

[2021-07-01 19:07] cwilso commented on #1379
This is currently intentional.  We intend to have a separation between implementation engines (Chromium/Gecko/Webkit) and browsers; they're both important, but considered differently in terms of compat and interop.   We do need to capture this better in the signals guidance.

[2021-07-02 04:02] keithlee96 opened #1396 "Duplicate chrome status entry: VirtualKeyboard API"
https://chromestatus.com/guide/edit/5717448231747584

is a dupe of

https://chromestatus.com/guide/edit/5680057076940800

Could I get https://chromestatus.com/guide/edit/5717448231747584 deleted?

There doesn't seem to be an easy way to delete chrome-status entries.

[2021-07-02 06:48] mikewest commented on #1162
It would be ideal if this could be addressed. It's causing additional round-trips in practically all the OT intent threads that could be easily avoided.

cc @cwilso @jstenback

[2021-07-02 14:21] jrobbins commented on #1396
Done.

Only site admins can delete features for now.

[2021-07-02 18:21] jstenback commented on #1162
Thanks for raising the awareness of this one, Mike. @jrobbins, is this something you or others can get to quickly?

[2021-07-02 19:24] jrobbins commented on #1162
I'll work on it today.

[2021-07-02 21:43] #1396 closed

[2021-07-05 19:21] impact-maker commented on #431
@jrobbins  Hi, what is the status of this bug. Is it ready to merge or needs any alternate solution.

[2021-07-06 08:04] shivamag00 commented on #1196
We have a search-box in the frontend which uses JS for searching. Hence, we need to re-implement it in a way such that it can search through all the results even after pagination is implemented. This must be done before pagination is implemented otherwise the search-box will not function properly resulting in poor UX.

[2021-07-06 08:10] shivamag00 commented on #1270
FIY, I modified the developer docs with the above info.

[2021-07-08 16:24] pythagoraskitty opened #1402 "Add new subcomponent Blink>Storage>SharedStorage to Chrome Platform Status Dashboard"
Blink>Storage>SharedStorage has been added to Monorail.  Could you please add it to Chrome Platform Status so that the [Shared Storage API](https://chromestatus.com/feature/6256348582903808) can be listed under this new subcomponent?  Thank you.

[2021-07-12 10:34] vikas-lt opened #1404 "extension not loaded using selenium script on chrome 91"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**

Trying to load an extension on chrome-91, using selenium script. For this we pass the base64 value of the extension (crx fi

[2021-07-13 16:36] mfreed7 commented on #1251
Actually, I'd like to re-open this issue. I "revived" the chromestatus entry, with a slightly different approach. I set the feature status to "Enabled by Default", as that's the approval I'm seeking. However, [the entry](https://chromestatus.com/feature/5741884322349056) still says this:

Any way to bring this entry back from the invisible state?

[2021-07-13 16:53] jstenback commented on #1251
Yes, if you go edit the entry you'll see a checkbox that says it's an "Unlisted" entry. Uncheck that and save and it should be back to "normal".

[2021-07-13 17:14] wanderview opened #1406 "Ready for Trial draft email has fields that cannot be specified"
Thank you for letting us know that something needs to be fixed. This page is for recording bugs on Chrome Status (https://www.chromestatus.com). If you need to report a problem with Chrome or Chromium, please use crbug (http://crbug.com/new). Thank you.

**Describe the bug**
When I create a draft "Ready to Trial" email I get fields for:

* "Goals for experimentation"
* "Ongoing technical constrain

[2021-07-13 18:33] mfreed7 commented on #1251
Ahh, the hidden-in-plain-sight "unlisted" checkbox. Thanks! That did the trick.

[2021-07-14 07:46] mathiasbynens commented on #1372
Next steps could be:

- [ ] Unconditionally include the debuggability section in generated emails. Patch: https://github.com/GoogleChrome/chromium-dashboard/pull/1409
- [ ] Make the debuggability input field required. Patch: https://github.com/GoogleChrome/chromium-dashboard/pull/1408

[2021-07-14 17:45] jrobbins commented on #1374
The fix was deployed.

The underlying cause was:
+ There was a datapoint for border-radius that had a value of 109% back in 2018 or so.  I don't know the story behind that.
+ We were failing to sort datapoint by date when generating this page, so old datapoints were sometimes shown.
+ We recently upgraded our datastore library, so default sorting may have changed, resulting in a more noticeable in

[2021-07-14 17:45] #1374 closed

[2021-07-15 07:44] shivamag00 opened #1412 "Create an API for features"

[2021-07-15 07:47] shivamag00 opened #1413 "Create API for channels with release schedule"

[2021-07-15 07:47] shivamag00 opened #1414 "Add milestone query-string parameter to filter feature list response"

[2021-07-15 07:48] shivamag00 opened #1415 "Create a new “upcoming” page by duplicating the current “releases page” and list the features according to type of milestone release"